extends Ogame_Layout
block content
  #inhalt
    #planet.shortHeader
      h2 Fleet Dispatch - #{(basic.moon) ? basic.planets[basic.numPlanet].moon.name : basic.planets[basic.numPlanet].name}
    .fleetStatus
      #slots.fleft
        .fleft
          span.tooltip.advice
            span Fleets:&nbsp
            | #{info.slot} / #{info.maxSlot}
        .fleft
          span.tooltip.advice
            span Expeditions:&nbsp
            | #{info.expeditions} / #{info.maxExpeditions}
        br.clearfloat
      #movements.fright
        a.tooltip.dark_highlight_tablet(href='Ogame_Movement.html')
          img(src='./Imagenes/MiniFleet.gif')
          span Fleet movement
      br.clearfloat
    .c-left
    .c-right
    #buttonz
      .header
        h2
          span.h_battleships Combat ships
          span.h_civilships Civil ships
      #selectNaves.content
        #battleships
          ul#military
            li#button204(class=((info.fleets.lightFighter > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(0);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.lightFighter}
              input.fleetValues(name='lightFighter' tabindex='1' type='text' value='' data-vel=info.speed[0] onchange='changeFleet();')
            li#button205(class=((info.fleets.heavyFighter > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(1);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.heavyFighter}
              input.fleetValues(name='heavyFighter' tabindex='2' type='text' value='' data-vel=info.speed[1] onchange='changeFleet();')
            li#button206(class=((info.fleets.cruiser > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(2);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.cruiser}
              input.fleetValues(name='cruiser' tabindex='3' type='text' value='' data-vel=info.speed[2] onchange='changeFleet();')
            li#button207(class=((info.fleets.battleship > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(3);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.battleship}
              input.fleetValues(name='battleship' tabindex='4' type='text' value='' data-vel=info.speed[3] onchange='changeFleet();')
            li#button215(class=((info.fleets.battlecruiser > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(4);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.battlecruiser}
              input.fleetValues(name='battlecruiser' tabindex='5' type='text' value='' data-vel=info.speed[4] onchange='changeFleet();')
            li#button211(class=((info.fleets.bomber > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(5);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.bomber}
              input.fleetValues(name='bomber' tabindex='6' type='text' value='' data-vel=info.speed[5] onchange='changeFleet();')
            li#button213(class=((info.fleets.destroyer > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(6);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.destroyer}
              input.fleetValues(name='destroyer' tabindex='7' type='text' value='' data-vel=info.speed[6] onchange='changeFleet();')
            li#button214(class=((info.fleets.deathstar > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(7);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.deathstar}
              input.fleetValues(name='deathstar' tabindex='8' type='text' value='' data-vel=info.speed[7] onchange='changeFleet();')
        #spacer
        #civilships
          ul#civil
            li#button202(class=((info.fleets.smallCargo > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(8);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.smallCargo}
              input.fleetValues(name='smallCargo' tabindex='9' type='text' value='' data-vel=info.speed[8] onchange='changeFleet();')
            li#button203(class=((info.fleets.largeCargo > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(9);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.largeCargo}
              input.fleetValues(name='largeCargo' tabindex='10' type='text' value='' data-vel=info.speed[9] onchange='changeFleet();')
            li#button208(class=((info.fleets.colony > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(10);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.colony}
              input.fleetValues(name='colony' tabindex='11' type='text' value='' data-vel=info.speed[10] onchange='changeFleet();')
            li#button209(class=((info.fleets.recycler > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(11);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.recycler}
              input.fleetValues(name='recycler' tabindex='12' type='text' value='' data-vel=info.speed[11] onchange='changeFleet();')
            li#button210(class=((info.fleets.espionageProbe > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(12);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.espionageProbe}
              input.fleetValues(name='espionageProbe' tabindex='13' type='text' value='' data-vel=info.speed[12] onchange='changeFleet();')
            li#misilFleet(class=((info.misil > 0) ? 'on' : 'off'))
              .misilFleetImg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(13);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.misil}
              input.fleetValues(name='misil' tabindex='14' type='text' value='' data-vel=info.speed[13] onchange='changeFleet();')
        .clearfloat
        .footer
    #buttonz
      .header
      .content
        table#mission(cellpadding='0' cellspacing='0')
          tbody
            tr
              th Take off location:
              th
              th Destination:
              th
            tr
              td#start.border5px
                .planetname #{(basic.moon) ? basic.planets[basic.numPlanet].moon.name : basic.planets[basic.numPlanet].name}
                .target
                  a(class= ((basic.moon) ? "planet_source" : "planet_source_selected"))
                    span.textlabel Planet
                  a(class= ((basic.moon) ? "moon_source_selected" : "moon_source"))
                    span.textlabel Moon
                  br.clearfloat
                .coords
                  | Coordinates:
                  span(style='color:#ffffff; font-weight:bold') #{basic.planets[basic.numPlanet].coordinates.gal}:#{basic.planets[basic.numPlanet].coordinates.sys}:#{basic.planets[basic.numPlanet].coordinates.pos}
              td#distance
                #distanceValue 5
                .coords Distance
              td#target.border5px
                #targetPlanetName.planetname Planet
                .target
                  a#pbutton.planet_selected(href='javascript:void(0);' onclick='pressPlanetMoonDebris(1);return false;' data-des=destination)
                  a#mbutton.moon(href='javascript:void(0);' onclick='pressPlanetMoonDebris(2);return false;')
                  a#dbutton.debris(href='javascript:void(0);' onclick='pressPlanetMoonDebris(3);return false;')
                  br.clearfloat
                .coords
                  | Coordinates:
                  br
                  input#galaxy.galaxy.hideNumberSpin(name='galaxy' type='number' value=objCord.gal onchange='calculaDistancia();')
                  input#system.system.hideNumberSpin(name='system' type='number' value=objCord.sys onchange='calculaDistancia();')
                  input#position.planet.hideNumberSpin(name='position' type='number' value=objCord.pos onchange='calculaDistancia();')
              td#shortcuts
                div
                  span Shortcuts:
                  .glow
                    span.dropdown.currentlySelected.planets(style='width: 144px;')
                      a#downButton1(value=basic.planets[basic.numPlanet].cord href='javascript:void(0);' onclick='clickSelect(1)') -
                    ul#dropdown1.dropdown.dropdownList.initialized(style='top: 64px; min-width: 144px; display: none; position: absolute;')
                      each item, index in basic.planets
                        li
                          a(data-gal=item.coordinates.gal data-sys=item.coordinates.sys data-pos=item.coordinates.pos value=index onclick='setDropdown(this, 1)') #{item.name+' ['+item.coordinates.gal+':'+item.coordinates.sys+':'+item.coordinates.pos+']'}
                div
                  span Combat forces:
                  .glow
                    span.dropdown.currentlySelected.combatunits(style='width: 144px;')
                      a#downButton2(value=0 href='javascript:void(0);' onclick='clickSelect(2)') -
                    ul#dropdown2.dropdown.dropdownList.initialized(style='top: 106px; min-width: 144px; display: none; position: absolute;')
                      //cambiar por la lista de movimientos de flotas del jugador
                      each item, index in info.movement
                        li
                          a(data-gal=item.coorHasta.gal data-sys=item.coorHasta.sys data-pos=item.coorHasta.pos value=index onclick='setDropdown(this, 2)') #{'Fleet ' + (index+1) + ' ['+item.coorHasta.gal+':'+item.coorHasta.sys+':'+item.coorHasta.pos+']'}
                div
                  span Vacas:
                  .glow
                    span.dropdown.currentlySelected.combatunits(style='width: 144px;')
                      a#downButton3(value=basic.planets[basic.numPlanet].cord href='javascript:void(0);' onclick='clickSelect(3)') -
                    ul#dropdown3.dropdown.dropdownList.initialized(style='top: 148px; min-width: 144px; display: none; position: absolute;')
                      each item, index in info.vacas
                        li
                          a(data-gal=item.coordinates.gal data-sys=item.coordinates.sys data-pos=item.coordinates.pos value=index onclick='setDropdown(this, 3)') #{item.planetName+' ['+item.coordinates.gal+':'+item.coordinates.sys+':'+item.coordinates.pos+']'}
        .briefing.border5px
          h2 Briefing
          ul#fleetBriefingPart1.fleetBriefing
            li
              | Duration of flight (one way):
              span#durationTime.value -
            li
              | Deuterium consumption:
              span.value
                span#consumption
                  span#consumptionDeuterium 0 (0%)
            li
              div.value Speed Average:
                div#speedText 0
              #speedLinks
                a.dark_highlight_tablet.speed.low(href='javascript:void(0);' onclick='changeSpeed(1)' data-value='1') 10
                a.dark_highlight_tablet.speed.low(href='javascript:void(0);' onclick='changeSpeed(2)' data-value='2') 20
                a.dark_highlight_tablet.speed.low(href='javascript:void(0);' onclick='changeSpeed(3)' data-value='3') 30
                a.dark_highlight_tablet.speed.middle(href='javascript:void(0);' onclick='changeSpeed(4)' data-value='4') 40
                a.dark_highlight_tablet.speed.middle(href='javascript:void(0);' onclick='changeSpeed(5)' data-value='5') 50
                a.dark_highlight_tablet.speed.middle(href='javascript:void(0);' onclick='changeSpeed(6)' data-value='6') 60
                a.dark_highlight_tablet.speed.high(href='javascript:void(0);' onclick='changeSpeed(7)' data-value='7') 70
                a.dark_highlight_tablet.speed.high(href='javascript:void(0);' onclick='changeSpeed(8)' data-value='8') 80
                a.dark_highlight_tablet.speed.high(href='javascript:void(0);' onclick='changeSpeed(9)' data-value='9') 90
                a.dark_highlight_tablet.speed.high.selected(href='javascript:void(0);' onclick='changeSpeed(10)' data-value='10') 100
                | %
          ul#fleetBriefingPart1_2.fleetBriefing
            li
              | Arrival:
              span.value
                span#arrivalTime -
                |  Clock
            li
              | Return:
              span.value
                span#returnTime -
                |  Clock
            li
              | Empty cargobays:
              span#storage.value.undermark 0
        .footer
    #buttonz
      .header
        h2 Select mission for target:
      .content
        ul#missions
          li#button15.ButtonMision.off.on
            a#missionButton15(href='javascript:void(0);' onclick='pressButtonMision(0);')
              span.textlabel Expedition
          li#button7.ButtonMision.off.on
            a#missionButton7(href='javascript:void(0);' onclick='pressButtonMision(1);')
              span.textlabel Colonisation
          li#button8.ButtonMision.off.on
            a#missionButton8(href='javascript:void(0);' onclick='pressButtonMision(2);')
              span.textlabel Recycle debris field
          li#button3.ButtonMision.off.on
            a#missionButton3(href='javascript:void(0);' onclick='pressButtonMision(3);')
              span.textlabel Transport
          li#button4.ButtonMision.off.on
            a#missionButton4(href='javascript:void(0);' onclick='pressButtonMision(4);')
              span.textlabel Deployment
          li#button6.ButtonMision.off.on
            a#missionButton6(href='javascript:void(0);' onclick='pressButtonMision(5);')
              span.textlabel Espionage
          li#button5.ButtonMision.off.on
            a#missionButton5(href='javascript:void(0);' onclick='pressButtonMision(6);')
              span.textlabel Misil
          li#button1.ButtonMision.off.on
            a#missionButton1(href='javascript:void(0);' onclick='pressButtonMision(7);')
              span.textlabel Attack
          li#button9.ButtonMision.off.on
            a#missionButton9(href='javascript:void(0);' onclick='pressButtonMision(8);')
              span.textlabel Moon Destruction
        #missionNameWrapper
          | Mission:
          span#missionName.missionName(data-mis=mission)
          p#missionDescription.mission_description -
    #sendfleet
      .header
        h2
          span.h_half_w Load resources
          span.h_half_w Send Fleet
      .content
        form(name='sendForm' method='post' action='')
          #wrap
            #resources.border5px
              .res_wrap.border3px
                .resourceIcon.metal.tooltip
                .res
                  input#metal.inputCarge(type='number' name='metal' value='0' onchange='changeResourcesInputFunction(0)' onfocus='focusInputFunction(0)' onfocusout='focusOutFunction(0)')
                  a.min(href='javascript:void(0);' onclick="cargeResourcesFunction(false, 0); return false;")
                    img(src='../Imagenes/LeftMiniArrow.gif')
                  a.max(href='javascript:void(0);' onclick='cargeResourcesFunction(true, 0); return false;')
                    img(src='../Imagenes/RightMiniArrow.gif')
              .res_wrap.border3px
                .resourceIcon.crystal.tooltip
                .res
                  input#crystal.inputCarge(type='number' name='crystal' value='0' onchange='changeResourcesInputFunction(1)' onfocus='focusInputFunction(1)' onfocusout='focusOutFunction(1)')
                  a.min(href='javascript:void(0);' onclick="cargeResourcesFunction(false, 1); return false;")
                    img(src='../Imagenes/LeftMiniArrow.gif')
                  a.max(href='javascript:void(0);' onclick='cargeResourcesFunction(true, 1); return false;')
                    img(src='../Imagenes/RightMiniArrow.gif')
              .res_wrap.border3px
                .resourceIcon.deuterium.tooltip
                .res
                  input#deuterium.inputCarge(type='number' name='deuterium' value='0' onchange='changeResourcesInputFunction(2)' onfocus='focusInputFunction(2)' onfocusout='focusOutFunction(2)')
                  a.min(href='javascript:void(0);' onclick="cargeResourcesFunction(false, 2);return false;")
                    img(src='../Imagenes/LeftMiniArrow.gif')
                  a.max(href='javascript:void(0);' onclick='cargeResourcesFunction(true, 2);return false;')
                    img(src='../Imagenes/RightMiniArrow.gif')
              #loadAllResources
                a#allresources(href='javascript:void(0);' onclick='cargeAllResourcesFunction();return false;')
                | all resources
              #loadRoom
                | cargo bay:
                .fleft.bar_container
                  #cargeBar.filllevel_bar.filllevel_undermark(style='width: 0%;')
                .tooltip
                  span
                    span#remainingresources.undermark 0
                  | /&nbsp;
                  span#maxresources 0
            #roundup.border5px
              a#start.on(href='javascript:void(0);' onclick='sendFleetMovement();')
                // Enviar el formulario por post a la api porque son muchos datos
                span(style='padding-top:9px;') Send fleet
              br.clearfloat
          br.clearfloat
        .footer
