extends Ogame_Layout
block content
  #inhalt
    #planet(style='background-image: url(./Imagenes/Research/Research.jpg)')
      #header_text
        h2 Research - #{(basic.moon) ? basic.planets[basic.numPlanet].moon.name : basic.planets[basic.numPlanet].name}
      #detail.detail_screen
        #imgBlackInfo.pic
          a.techtree_link.tooltip.overlay(href='./Ogame_Technology.html')
            .techtree_img
            span.label Techtree
          a#cancelButton.tooltip.abort_link(href='javascript:void(0);' onclick='cancelResearch();')
        #content
          h2#nameText
          a#close.close_details(href='javascript:void(0);' onclick='toggleDescription("void"); return false;')
          span#levelText.level
            | Level 0
            span.undermark
          br.clearfloat
          ul.production_info
            li
              | Research time:
              span#buildDuration.time
                | 0s
                span.undermark
            li
              | Construction possible:
              span#possibleInTime.time
          .costs_wrap
            p.costs_info Required to improve to the next level:
            ul#costs
              li.metal.tooltip
                .resourceIcon.descriptionIcon.metal
                #cost1.cost.overmark -
              li.crystal.tooltip
                .resourceIcon.descriptionIcon.crystal
                #cost2.cost.overmark -
              li.deuterium.tooltip
                .resourceIcon.descriptionIcon.deuterium
                #cost3.cost.overmark -
          .build-it_wrap
            a#build-it.build-it.build-it_disabled(href='javascript:void(0);' onclick='sendResearchRequest()')
              span Research
        br
        #description
          .txt_box
            a.tooltip.help.overlay(href='./Ogame_Technology.html')
            p#descriptionText.description_txt(style='width: 90%')
    .c-left
    .c-right
    #buttonz.wrapButtons
      #wrapBattle.resLeft.fleft
        h2 Basic research
        ul#base1.activate
          li.on
            .item_box.research113
              .buildingimg
                a#details113.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("energy");return false;')
                  span.ecke
                    span.level
                      span.textlabel Energy Technology
                      | #{info.energy}
          li.on
            .item_box.research120
              .buildingimg
                a#details120.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("laser");return false;')
                  span.ecke
                    span.level
                      span.textlabel Laser Technology
                      | #{info.laser}
          li.on
            .item_box.research121
              .buildingimg
                a#details121.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("ion");return false;')
                  span.ecke
                    span.level
                      span.textlabel Ion Technology
                      | #{info.ion}
          li.on
            .item_box.research114
              .buildingimg
                a#details114.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("hyperspace");return false;')
                  span.ecke
                    span.level
                      span.textlabel Hyperspace Technology
                      | #{info.hyperspace}
          li.on
            .item_box.research122
              .buildingimg
                a#details122.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("plasma");return false;')
                  span.ecke
                    span.level
                      span.textlabel Plasma Technology
                      | #{info.plasma}
      #wrapBattle.resRight.fleft
        h2 Drive research
        ul#base2.activate
          li.on
            .item_box.research115
              .buildingimg
                a#details115.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("combustion");return false;')
                  span.ecke
                    span.level
                      span.textlabel Combustion Drive
                      | #{info.combustion}
          li.on
            .item_box.research117
              .buildingimg
                a#details117.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("impulse");return false;')
                  span.ecke
                    span.level
                      span.textlabel Impulse Drive
                      | #{info.impulse}
          li.on
            .item_box.research118
              .buildingimg
                a#details118.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("hyperspace_drive");return false;')
                  span.ecke
                    span.level
                      span.textlabel Hyperspace Drive
                      | #{info.hyperspace_drive}
      #wrapBattle.resLeft.fleft
        h2 Advanced researches
        ul#base3.activate
          li.on
            .item_box.research106
              .buildingimg
                a#details106.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("espionage");return false;')
                  span.ecke
                    span.level
                      span.textlabel Espionage Technology
                      | #{info.espionage}
          li.on
            .item_box.research108
              .buildingimg
                a#details108.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("computer");return false;')
                  span.ecke
                    span.level
                      span.textlabel Computer Technology
                      | #{info.computer}
          li.on
            .item_box.research124
              .buildingimg
                a#details124.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("astrophysics");return false;')
                  span.ecke
                    span.level
                      span.textlabel Astrophysics
                      | #{info.astrophysics}
          li.on
            .item_box.research123
              .buildingimg
                a#details123.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("intergalactic");return false;')
                  span.ecke
                    span.level
                      span.textlabel Intergalactic Research Network
                      | #{info.intergalactic}
          li.on
            .item_box.research199
              .buildingimg
                a#details199.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("graviton");return false;')
                  span.ecke
                    span.level
                      span.textlabel Graviton Technology
                      | #{info.graviton}
      #wrapBattle.resRight.fleft
        h2 Combat research
        ul#base4.activate
          li.on
            .item_box.research109
              .buildingimg
                a#details109.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("weapons");return false;')
                  span.ecke
                    span.level
                      span.textlabel Weapons Technology
                      | #{info.weapons}
          li.on
            .item_box.research110
              .buildingimg
                a#details110.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("shielding");return false;')
                  span.ecke
                    span.level
                      span.textlabel Shielding Technology
                      | #{info.shielding}
          li.on
            .item_box.research111
              .buildingimg
                a#details111.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("armour");return false;')
                  span.ecke
                    span.level
                      span.textlabel Armour Technology
                      | #{info.armour}
      br.clearfloat
