extends Ogame_Layout
block content
  #inhalt
    #planet.shortHeader
      h2 Fleet Dispatch - #{basic.planets[basic.numPlanet].name}
    .fleetStatus
      #slots.fleft
        .fleft
          span.tooltip.advice
            span Fleets :
            |  #{info.slot}/#{info.maxSlot}
        .fleft
          span.tooltip.advice
            span Expeditions:
            |  #{info.expeditions}/#{info.maxExpeditions}
        br.clearfloat
      #movements.fright
        a.tooltip.dark_highlight_tablet(href='Ogame_Movement.html')
          img(src='./Imagenes/MiniFleet.gif')
          span Fleet movement
      br.clearfloat
    .c-left
    .c-right
    #buttonz
      .header
        h2
          span.h_battleships Combat ships
          span.h_civilships Civil ships
      #selectNaves.content
        #battleships
          ul#military
            li#button204(class=((info.fleets.lightFighter > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(0);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.lightFighter}
              input.fleetValues(name='' tabindex='1' type='number' pattern='[0-9,.]*' value='' data-vel=info.speed[0] onchange='changeFleet();')
            li#button205(class=((info.fleets.heavyFighter > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(1);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.heavyFighter}
              input.fleetValues(name='' tabindex='2' type='number' pattern='[0-9,.]*' value='' data-vel=info.speed[1] onchange='changeFleet();')
            li#button206(class=((info.fleets.cruiser > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(2);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.cruiser}
              input.fleetValues(name='' tabindex='3' type='number' pattern='[0-9,.]*' value='' data-vel=info.speed[2] onchange='changeFleet();')
            li#button207(class=((info.fleets.battleship > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(3);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.battleship}
              input.fleetValues(name='' tabindex='4' type='number' pattern='[0-9,.]*' value='' data-vel=info.speed[3] onchange='changeFleet();')
            li#button215(class=((info.fleets.battlecruiser > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(4);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.battlecruiser}
              input.fleetValues(name='' tabindex='5' type='number' pattern='[0-9,.]*' value='' data-vel=info.speed[4] onchange='changeFleet();')
            li#button211(class=((info.fleets.bomber > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(5);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.bomber}
              input.fleetValues(name='' tabindex='6' type='number' pattern='[0-9,.]*' value='' data-vel=info.speed[5] onchange='changeFleet();')
            li#button213(class=((info.fleets.destroyer > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(6);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.destroyer}
              input.fleetValues(name='' tabindex='7' type='number' pattern='[0-9,.]*' value='' data-vel=info.speed[6] onchange='changeFleet();')
            li#button214(class=((info.fleets.deathstar > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(7);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.deathstar}
              input.fleetValues(name='' tabindex='8' type='number' pattern='[0-9,.]*' value='' data-vel=info.speed[7] onchange='changeFleet();')
        #spacer
        #civilships
          ul#civil
            li#button202(class=((info.fleets.smallCargo > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(8);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.smallCargo}
              input.fleetValues(name='' tabindex='9' type='number' pattern='[0-9,.]*' value='' data-vel=info.speed[8] onchange='changeFleet();')
            li#button203(class=((info.fleets.largeCargo > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(9);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.largeCargo}
              input.fleetValues(name='' tabindex='10' type='number' pattern='[0-9,.]*' value='' data-vel=info.speed[9] onchange='changeFleet();')
            li#button208(class=((info.fleets.colony > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(10);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.colony}
              input.fleetValues(name='' tabindex='11' type='number' pattern='[0-9,.]*' value='' data-vel=info.speed[10] onchange='changeFleet();')
            li#button209(class=((info.fleets.recycler > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(11);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.recycler}
              input.fleetValues(name='' tabindex='12' type='number' pattern='[0-9,.]*' value='' data-vel=info.speed[11] onchange='changeFleet();')
            li#button210(class=((info.fleets.espionageProbe > 0) ? 'on' : 'off'))
              .buildingimg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(12);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.fleets.espionageProbe}
              input.fleetValues(name='' tabindex='13' type='number' pattern='[0-9,.]*' value='' data-vel=info.speed[12] onchange='changeFleet();')
            li#misilFleet(class=((info.misil > 0) ? 'on' : 'off'))
              .misilFleetImg
                a.tooltip(href='javascript:void(0);' onClick='selectAllNave(13);')
                  span.ecke
                    span.level
                      span.textlabel
                      | #{info.misil}
              input.fleetValues(name='' tabindex='14' type='number' pattern='[0-9,.]*' value='' data-vel=info.speed[13] onchange='changeFleet();')
        .clearfloat
        .footer
    #buttonz
      .header
      .content
        table#mission(cellpadding='0' cellspacing='0')
          tbody
            tr
              th Take off location:
              th
              th Destination:
              th
            tr
              td#start.border5px
                .planetname #{basic.planets[basic.numPlanet].name}
                .target
                  a.planet_source_selected
                    span.textlabel Planet
                  a.moon_source
                    span.textlabel Moon
                  br.clearfloat
                .coords
                  | Coordinates:
                  span(style='color:#ffffff; font-weight:bold') #{basic.planets[basic.numPlanet].coordinates.galaxy}:#{basic.planets[basic.numPlanet].coordinates.system}:#{basic.planets[basic.numPlanet].coordinates.pos}
              td#distance
                #distanceValue 5
                .coords Distance
              td#target.border5px
                #targetPlanetName.planetname Planet
                .target
                  a#pbutton.planet_selected(href='javascript:void(0);' onclick='pressPlanetMoonDebris(1);return false;')
                  a#mbutton.moon(href='javascript:void(0);' onclick='pressPlanetMoonDebris(2);return false;')
                  a#dbutton.debris(href='javascript:void(0);' onclick='pressPlanetMoonDebris(3);return false;')
                  br.clearfloat
                .coords
                  | Coordinates:
                  br
                  input#galaxy.galaxy.hideNumberSpin(name='galaxy' type='number' value=objCord.galaxy onchange='calculaDistancia();')
                  input#system.system.hideNumberSpin(name='system' type='number' value=objCord.system onchange='calculaDistancia();')
                  input#position.planet.hideNumberSpin(name='position' type='number' value=objCord.pos onchange='calculaDistancia();')
              td#shortcuts
                div
                  span Shortcuts:
                  .glow
                    select.planets.dropdownInitialized(style='display: none;')
                      option(value='-') -
                      option(value='2#289#4#1#Planeta Principal')
                        | Planeta Principal [2:289:4]

                    span.dropdown.currentlySelected.planets(rel='dropdown662' style='width: 144px;')
                      a.undefined(data-value='-' href='javascript:void(0);') -

                div
                  span Combat forces:
                  .glow
                    select.combatunits.dropdownInitialized(style='display: none;')
                      option(value='-') -
                    span.dropdown.currentlySelected.combatunits(style='width: 144px;')
                      a.undefined(data-value='-' href='javascript:void(0);') -

                div
                  span Vacas:
                  .glow
                    select.combatunits.dropdownInitialized(style='display: none;')
                      option(value='-') -
                    span.dropdown.currentlySelected.combatunits(style='width: 144px;')
                      a.undefined(data-value='-' href='javascript:void(0);') -

        .briefing.border5px
          h2 Briefing
          ul#fleetBriefingPart1.fleetBriefing
            li
              | Duration of flight (one way):
              span#durationTime.value -
            li
              | Deuterium consumption:
              span.value
                span#consumption
                  span#consumptionDeuterium 0 (0%)
            li
              div.value Speed Average:
                div#speedText 0
              #speedLinks
                a.dark_highlight_tablet.speed.low(href='javascript:void(0);' onclick='changeSpeed(1)' data-value='1') 10
                a.dark_highlight_tablet.speed.low(href='javascript:void(0);' onclick='changeSpeed(2)' data-value='2') 20
                a.dark_highlight_tablet.speed.low(href='javascript:void(0);' onclick='changeSpeed(3)' data-value='3') 30
                a.dark_highlight_tablet.speed.middle(href='javascript:void(0);' onclick='changeSpeed(4)' data-value='4') 40
                a.dark_highlight_tablet.speed.middle(href='javascript:void(0);' onclick='changeSpeed(5)' data-value='5') 50
                a.dark_highlight_tablet.speed.middle(href='javascript:void(0);' onclick='changeSpeed(6)' data-value='6') 60
                a.dark_highlight_tablet.speed.high(href='javascript:void(0);' onclick='changeSpeed(7)' data-value='7') 70
                a.dark_highlight_tablet.speed.high(href='javascript:void(0);' onclick='changeSpeed(8)' data-value='8') 80
                a.dark_highlight_tablet.speed.high(href='javascript:void(0);' onclick='changeSpeed(9)' data-value='9') 90
                a.dark_highlight_tablet.speed.high.selected(href='javascript:void(0);' onclick='changeSpeed(10)' data-value='10') 100
                | %
          ul#fleetBriefingPart1_2.fleetBriefing
            li
              | Arrival:
              span.value
                span#arrivalTime -
                |  Clock
            li
              | Return:
              span.value
                span#returnTime -
                |  Clock
            li
              | Empty cargobays:
              span#storage.value.undermark 0
        .footer
    #buttonz
      .header
        h2 Select mission for target:
      .content
        ul#missions
          li#button15.off
            a#missionButton15(href='javascript:void(0);' onclick='pressButtonMision();')
              span.textlabel Expedition
          li#button7.off
            a#missionButton7(href='javascript:void(0);' onclick='pressButtonMision();')
              span.textlabel Colonisation
          li#button8.off
            a#missionButton8(href='javascript:void(0);' onclick='pressButtonMision();')
              span.textlabel Recycle debris field
          li#button3.on
            a#missionButton3.selected(href='javascript:void(0);' onclick='pressButtonMision();')
              span.textlabel Transport
          li#button4.on
            a#missionButton4(href='javascript:void(0);' onclick='pressButtonMision();')
              span.textlabel Deployment
          li#button6.off
            a#missionButton6(href='javascript:void(0);' onclick='pressButtonMision();')
              span.textlabel Espionage
          li#button5.off
            a#missionButton5(href='javascript:void(0);' onclick='pressButtonMision();')
              span.textlabel ACS Defend
          li#button1.off
            a#missionButton1(href='javascript:void(0);' onclick='pressButtonMision();')
              span.textlabel Attack
          li#button2.off
            a#missionButton2(href='javascript:void(0);' onclick='pressButtonMision();')
              span.textlabel ACS Attack
          li#button9.off
            a#missionButton9(href='javascript:void(0);' onclick='pressButtonMision();')
              span.textlabel Moon Destruction
        #missionNameWrapper
          | Mission:
          span#missionName.missionName Transport
          p.mission_description Transports your resources to other planets.
        .footer
    #sendfleet
      .header
        h2
          span.h_half_w Load resources
          span.h_half_w Send Fleet
      .content
        form(name='sendForm' method='post' action='')
          #wrap
            #resources.border5px
              .res_wrap.border3px
                .resourceIcon.metal.tooltip
                .res
                  input#metal.inputCarge(type='number' pattern='[0-9,.]*' name='metal' value='0' onchange='changeResourcesInputFunction(0)')
                  a.min(href='javascript:void(0);' onclick="cargeResourcesFunction(false, 0); return false;")
                    img(src='../Imagenes/LeftMiniArrow.gif')
                  a.max(href='javascript:void(0);' onclick='cargeResourcesFunction(true, 0); return false;')
                    img(src='../Imagenes/RightMiniArrow.gif')
              .res_wrap.border3px
                .resourceIcon.crystal.tooltip
                .res
                  input#crystal.inputCarge(type='number' pattern='[0-9,.]*' name='crystal' value='0' onchange='changeResourcesInputFunction(1)')
                  a.min(href='javascript:void(0);' onclick="cargeResourcesFunction(false, 1); return false;")
                    img(src='../Imagenes/LeftMiniArrow.gif')
                  a.max(href='javascript:void(0);' onclick='cargeResourcesFunction(true, 1); return false;')
                    img(src='../Imagenes/RightMiniArrow.gif')
              .res_wrap.border3px
                .resourceIcon.deuterium.tooltip
                .res
                  input#deuterium.inputCarge(type='number' pattern='[0-9,.]*' name='deuterium' value='0' onchange='changeResourcesInputFunction(2)')
                  a.min(href='javascript:void(0);' onclick="cargeResourcesFunction(false, 2);return false;")
                    img(src='../Imagenes/LeftMiniArrow.gif')
                  a.max(href='javascript:void(0);' onclick='cargeResourcesFunction(true, 2);return false;')
                    img(src='../Imagenes/RightMiniArrow.gif')
              #loadAllResources
                a#allresources(href='javascript:void(0);' onclick='cargeAllResourcesFunction();return false;')
                | all resources
              #loadRoom
                | cargo bay:
                .fleft.bar_container
                  #cargeBar.filllevel_bar.filllevel_undermark(style='width: 0%;')
                .tooltip
                  span
                    span#remainingresources.undermark 0
                  | /&nbsp;
                  span#maxresources 0
            #roundup.border5px
              a#start.on(href='' onclick='')
                span(style='padding-top:9px;') Send fleet
              br.clearfloat
          br.clearfloat
        .footer
