extends Ogame_Layout
block content
  #inhalt
    #galaxyHeader
      form(action='' name='galaform' method='post')
        span.galaxy_icons.galaxy.tooltip(title='Galaxy')
        span.galaxy_icons.prev(onclick='submitOnKey(40);')
        input#galaxy_input.hideNumberSpin(maxlength='3' type='text' pattern='[0-9]*' value='2' name='galaxy' tabindex='2' onfocus='clearInput(this);' onkeyup='checkIntInput(this, 1, 5)' onkeypress='return submitOnEnter(event);')
        span.galaxy_icons.next(onclick='submitOnKey(38);')
        span.galaxy_icons.solarsystem.tooltip(title='System')
        span.galaxy_icons.prev(onclick='submitOnKey(37);')
        input#system_input.hideNumberSpin(maxlength='3' type='text' pattern='[0-9]*' value='289' tabindex='2' name='system' onfocus='clearInput(this);' onkeyup='checkIntInput(this, 1, 499)' onkeypress='return submitOnEnter(event);')
        span.galaxy_icons.next(onclick='submitOnKey(39);')
        .btn_blue(onclick='submitForm();')
          | Go!
        #expeditionbutton.btn_blue.float_right(onclick='doExpedition();')
          | Expedition
    #galaxyContent
      #mobileDiv
        table#galaxytable(cellpadding='0' cellspacing='0' border='0' data-galaxy='2' data-system='289')
          thead
            tr.info.info_header.ct_head_row
              th(colspan='11')
                span#probes
                  | Esp.Probe:
                  span#probeValue #{info.espionage}
                span#recycler
                  | Recy.:
                  span#recyclerValue #{info.recycler}
                span#rockets
                  | IPM.:
                  span#missileValue #{info.misil}
                span#slots
                  | Used slots:
                  span#slotValue #{info.slot}/#{info.maxSlot}
            tr#galaxyheadbg2.ct_head_row
              th.first(style='width: 70px; overflow: hidden;') Planet
              th(style='width: 129px; padding-right: 5px;') Name
              th.text_moon(style='width: 38px; padding-right: 5px;') Moon
              th(style='width: 38px; padding-right: 5px;') DF
              th(style='width: 170px; padding-right: 20px;') Player (status)
              th.last(style='width: 130px;') Actions
          tfoot
            tr#fleetstatus.footer.ct_foot_row
              td#fleetstatusrow.ct_foot_row(colspan='11')
            tr.info.ct_foot_row
              td(colspan='11')
                span#colonized - Planets colonised
                br.clearfloat
          tbody
            tr.row
              td.position 1
              td.microplanet.js_planet1
                #1_Planet.ListImage
                  img(id='Planet1' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon1
                a(href='#' onclick='pressMoon(1); return false;')
                  #1_Moon.ListMoon
              td.debris.js_debris1
                a(href='#' onclick='pressDebris(1); return false;')
                  #1_Debris.ListDebris
              td.playername
                span.status
              td.action
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_eye
                  //espiar (se pone verdecito si ya lo estas espiando)
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_adressbook
                  // leer reporte de espionaje (esta negro si no tenes reporte de ese jugador)
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_missile
                  // ataque personalisado
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_against
                  // ataca como si fuera una vaca
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_mail
                  // agrega a la lista de vacas



            tr.row
              td.position 2
              td.microplanet.js_planet2
                #2_Planet.ListImage
                  img(id='Planet2' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon2
                a(href='#' onclick='pressMoon(2); return false;')
                  #2_Moon.ListMoon
              td.debris.js_debris2
                a(href='#' onclick='pressDebris(2); return false;')
                  #2_Debris.ListDebris



              td.playername
                span.status
              td.action
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_eye
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_adressbook
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_missile
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_against
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_mail



            tr.row
              td.position 3
              td.microplanet.js_planet3
                #3_Planet.ListImage
                  img(id='Planet3' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon3
                a(href='#' onclick='pressMoon(3); return false;')
                  #3_Moon.ListMoon
              td.debris.js_debris3
                a(href='#' onclick='pressDebris(3); return false;')
                  #3_Debris.ListDebris
              td.playername
                span.status
              td.action
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_eye
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_adressbook
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_missile
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_against
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_mail


            tr.row
              td.position 4
              td.microplanet.js_planet4
                #4_Planet.ListImage
                  img(id='Planet4' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon4
                a(href='#' onclick='pressMoon(4); return false;')
                  #4_Moon.ListMoon
              td.debris.js_debris4
                a(href='#' onclick='pressDebris(4); return false;')
                  #4_Debris.ListDebris
              td.playername
                span.status
              td.action
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_eye
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_adressbook
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_missile
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_against
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_mail


            tr.row
              td.position 5
              td.microplanet.js_planet5
                #5_Planet.ListImage
                  img(id='Planet5' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon5
                a(href='#' onclick='pressMoon(5); return false;')
                  #5_Moon.ListMoon
              td.debris.js_debris5
                a(href='#' onclick='pressDebris(5); return false;')
                  #5_Debris.ListDebris
              td.playername
                span.status
              td.action
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_eye
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_adressbook
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_missile
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_against
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_mail


            tr.row
              td.position 6
              td.microplanet.js_planet6
                #6_Planet.ListImage
                  img(id='Planet6' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon6
                a(href='#' onclick='pressMoon(6); return false;')
                  #6_Moon.ListMoon
              td.debris.js_debris6
                a(href='#' onclick='pressDebris(6); return false;')
                  #6_Debris.ListDebris
              td.playername
                span.status
              td.action
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_eye
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_adressbook
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_missile
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_against
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_mail


            tr.row
              td.position 7
              td.microplanet.js_planet7
                #7_Planet.ListImage
                  img(id='Planet7' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon7
                a(href='#' onclick='pressMoon(7); return false;')
                  #7_Moon.ListMoon
              td.debris.js_debris7
                a(href='#' onclick='pressDebris(7); return false;')
                  #7_Debris.ListDebris
              td.playername
                span.status
              td.action
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_eye
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_adressbook
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_missile
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_against
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_mail


            tr.row
              td.position 8
              td.microplanet.js_planet8
                #8_Planet.ListImage
                  img(id='Planet8' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon8
                a(href='#' onclick='pressMoon(8); return false;')
                  #8_Moon.ListMoon
              td.debris.js_debris8
                a(href='#' onclick='pressDebris(8); return false;')
                  #8_Debris.ListDebris
              td.playername
                span.status
              td.action
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_eye
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_adressbook
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_missile
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_against
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_mail


            tr.row
              td.position 9
              td.microplanet.js_planet9
                #9_Planet.ListImage
                  img(id='Planet9' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon9
                a(href='#' onclick='pressMoon(9); return false;')
                  #9_Moon.ListMoon
              td.debris.js_debris9
                a(href='#' onclick='pressDebris(9); return false;')
                  #9_Debris.ListDebris
              td.playername
                span.status
              td.action
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_eye
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_adressbook
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_missile
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_against
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_mail


            tr.row
              td.position 10
              td.microplanet.js_planet10
                #10_Planet.ListImage
                  img(id='Planet10' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon10
                a(href='#' onclick='pressMoon(10); return false;')
                  #10_Moon.ListMoon
              td.debris.js_debris10
                a(href='#' onclick='pressDebris(10); return false;')
                  #10_Debris.ListDebris
              td.playername
                span.status
              td.action
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_eye
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_adressbook
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_missile
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_against
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_mail


            tr.row
              td.position 11
              td.microplanet.js_planet11
                #11_Planet.ListImage
                  img(id='Planet11' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon11
                a(href='#' onclick='pressMoon(11); return false;')
                  #11_Moon.ListMoon
              td.debris.js_debris11
                a(href='#' onclick='pressDebris(11); return false;')
                  #11_Debris.ListDebris
              td.playername
                span.status
              td.action
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_eye
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_adressbook
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_missile
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_against
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_mail



            tr.row
              td.position 12
              td.microplanet.js_planet12
                #12_Planet.ListImage
                  img(id='Planet12' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon12
                a(href='#' onclick='pressMoon(12); return false;')
                  #12_Moon.ListMoon
              td.debris.js_debris12
                a(href='#' onclick='pressDebris(12); return false;')
                  #12_Debris.ListDebris
              td.playername
                span.status
              td.action
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_eye
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_adressbook
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_missile
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_against
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_mail


            tr.row
              td.position 13
              td.microplanet.js_planet13
                #13_Planet.ListImage
                  img(id='Planet13' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon13
                a(href='#' onclick='pressMoon(13); return false;')
                  #13_Moon.ListMoon
              td.debris.js_debris13
                a(href='#' onclick='pressDebris(13); return false;')
                  #13_Debris.ListDebris
              td.playername
                span.status
              td.action
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_eye
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_adressbook
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_missile
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_against
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_mail


            tr.row
              td.position 14
              td.microplanet.js_planet14
                #14_Planet.ListImage
                  img(id='Planet14' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon14
                a(href='#' onclick='pressMoon(14); return false;')
                  #14_Moon.ListMoon
              td.debris.js_debris14
                a(href='#' onclick='pressDebris(14); return false;')
                  #14_Debris.ListDebris
              td.playername
                span.status
              td.action
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_eye
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_adressbook
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_missile
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_against
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_mail


            tr.row
              td.position 15
              td.microplanet.js_planet15
                #15_Planet.ListImage
                  img(id='Planet15' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon15
                a(href='#' onclick='pressMoon(15); return false;')
                  #15_Moon.ListMoon
              td.debris.js_debris15
                a(href='#' onclick='pressDebris(15); return false;')
                  #15_Debris.ListDebris
              td.playername
                span.status
              td.action
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_eye
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_adressbook
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_missile
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_against
                a.tooltip(href='#' onclick='return false;')
                  span.icon.icon_mail

    #canvasMoon.canvasMoon(style='left: 264px')
      div(style='width: auto; height: auto;')
        a.close-tooltip(href="#" onclick='pressMoon(-1); return false;')
        div.htmlTooltip.galaxyTooltip
          h1.MoonName Muna
          .splitLine
          ul.ListImage
            li
              span#MoonCord [ : : ]
            li
              img.debrisImg(src='../Imagenes/Planets/Miniatures/MiniDebris.gif' alt='debris' width='30' height='30')
          ul.ListLinks
            li#MoonSize 8000km
            li
              a.DebrisMineButton Espionage
            li
              a.DebrisMineButton Atack


      #canvasDebris.canvasDebris
        div(style='width: auto; height: auto;')
          a.close-tooltip(href="#" onclick='pressDebris(-1); return false;')
          div.htmlTooltip.galaxyTooltip
            h1 Debris Field
            .splitLine
            ul.ListImage
              li
                span#DebrisCord [ : : ]
              li
                img.debrisImg(src='../Imagenes/Planets/Miniatures/MiniDebris.gif' alt='debris' width='30' height='30')
            ul.ListLinks
              li#DebrisMetal Metal: 0
              li#DebrisCrystal Crystal: 0
              li#DebrisNeed Recyclers needed: 0
              li
                a.DebrisMineButton Mine
