extends Ogame_Layout
block content
  #inhalt
    #planet(style='background-image:url(./Imagenes/Planets/Resources_Planet_' + basic.planets[basic.numPlanet].type + '.jpg)')
      #header_text
        h2 Resources - #{basic.planets[basic.numPlanet].name}
      #slot01.slot
        a(href='./Ogame_ResourceSetings.html') Resource settings
      #detail.detail_screen
        #imgBlackInfo.pic
          a.techtree_link.tooltip.overlay(href='./Ogame_Tecnology.html')
            .techtree_img
            span.label Techtree
        #content
          h2#nameText
          a#close.close_details(href='javascript:void(0);' onclick='toggleDescription("void"); return false;')
          span#levelText.level
            | Level 0
            span.undermark
          br.clearfloat
          ul.production_info
            li
              | Production duration:
              span#buildDuration.time
                | 0s
                span.undermark
            li
              | Construction possible:
              span#possibleInTime.time
          .costs_wrap
            p.costs_info Required to improve to the next level:
            ul#costs
              li.metal.tooltip
                .resourceIcon.descriptionIcon.metal
                #cost1.cost -
              li.crystal.tooltip
                .resourceIcon.descriptionIcon.crystal
                #cost2.cost -
              li.deuterium.tooltip
                .resourceIcon.descriptionIcon.energy
                #cost3.cost -
          .build-it_wrap
            a#build-it.build-it(href='javascript:void(0);')
              span Improve
        br
        #description
          .txt_box
            a.tooltip.help.overlay(href='Ogame_Tecnology.html')
            p#descriptionText.description_txt(style='width: 90%')
    .c-left
    .c-right
    #buttonz
      .header
        h2 Resource buildings
      .content
        ul#building
          li#button1.on
            // disabled = rayado; on = prendido; off = blanco y negro
            .supply1
              .buildingimg
                a#details.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("metalMine");return false;')
                  span.ecke
                    span.level
                      span.textlabel Metal Mine
                      | #{info.buildings.metalMine}
          li#button2.on
            .supply2
              .buildingimg
                a#details.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("crystalMine");return false;')
                  span.ecke
                    span.level
                      span.textlabel Crystal Mine
                      | #{info.buildings.crystalMine}
          li#button3.on
            .supply3
              .buildingimg
                a#details.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("deuteriumMine");return false;')
                  span.ecke
                    span.level
                      span.textlabel Deuterium Synthesizer
                      | #{info.buildings.deuteriumMine}
          li#button4.on
            .supply4
              .buildingimg
                a#details.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("solarPlant");return false;')
                  span.ecke
                    span.level
                      span.textlabel Solar Plant
                      | #{info.buildings.solarPlant}
          li#button5.on
            .supply12
              .buildingimg
                a#details.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("fusionReactor");return false;')
                  span.ecke
                    span.level
                      span.textlabel Fusion Reactor
                      | #{info.buildings.fusionReactor}
          li#button6.on
            .supply212
              .buildingimg
                a#details.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("solarSatellite");return false;')
                  span.ecke
                    span.level
                      span.textlabel Solar Satellite
                      | #{info.solarSatellite}
        ul#storage
          li#button7.on
            .supply22
              .buildingimg
                a#details.tooltip.slideIn(href='#' onclick='toggleDescription("metalStorage");return false;')
                  span.ecke
                    span.level
                      span.textlabel Metal Storage
                      | #{info.buildings.metalStorage}
          li#button8.on
            .supply23
              .buildingimg
                a#details.tooltip.slideIn(href='#' onclick='toggleDescription("crystalStorage");return false;')
                  span.ecke
                    span.level
                      span.textlabel Crystal Storage
                      | #{info.buildings.crystalStorage}
          li#button9.on
            .supply24
              .buildingimg
                a#details.tooltip.slideIn(href='#' onclick='toggleDescription("deuteriumStorage");return false;')
                  span.ecke
                    span.level
                      span.textlabel Deuterium Tank
                      | #{info.buildings.deuteriumStorage}
        .footer
        br.clearfloat
