extends Ogame_Layout
block content
  #inhalt
    #planet(style='background-image:url(./Imagenes/Planets/Overview_Planet_' + info.type + '.jpg);')
      #detailWrapper
        #header_text
          h2
            span.openPlanetRenameGiveupBox
              p.planetNameOverview Overview -
              span#planetNameHeader #{basic.planets[basic.numPlanet].name}
        #detail.detail_screen
          #techDetailLoading
        #planetdata
          .overlay
          #planetDetails
            table(cellpadding='0' cellspacing='0' width='100%')
              tbody
                tr
                  td.desc
                    span#diameterField Diameter:
                  td.data
                    span#diameterContentField
                      | #{info.diameter} (
                      span #{info.campos}
                      | /
                      span #{info.camposMax}
                      | )
                tr
                  td.desc
                    span#temperatureField Temperature:
                  td.data
                    span#temperatureContentField #{info.temperature.min}&deg;C to #{info.temperature.max}&deg;C
                tr
                  td.desc
                    span#positionField Position:
                  td.data
                    span#positionContentField
                      a(href='./Ogame_Galaxy.html') [#{basic.planets[basic.numPlanet].coordinates.galaxy}:#{basic.planets[basic.numPlanet].coordinates.system}:#{basic.planets[basic.numPlanet].coordinates.pos}]
                tr
                  td.desc
                    span#scoreField Points:
                  td.data
                    span#scoreContentField
                      a(href='./Highscore.html') #{info.points} (Place #{basic.highscore} of #{info.cantPlayers})
                tr
                  td.desc
                    span#renameField New Name:
                  td.data
                    span#renameContentField
                      input#renameInput(type="text")
          #planetOptions
            .planetMoveStart.fleft(style='display: inline;')
              a.tooltipLeft.dark_highlight_tablet.fleft(href='#')
                span.planetMoveIcons.settings.planetMoveDefault.icon.fleft
                span.planetMoveOverviewMoveLink Abandon
            a.dark_highlight_tablet.float_right.openPlanetRenameGiveupBox(href='./OGame_Overview.html')
              span.planetMoveOverviewGivUpLink Rename
              span.planetMoveIcons.settings.planetMoveGiveUp.icon
    .c-left
    .c-right
    .clearfloat
    .clearfloat
