extends Ogame_Layout
block content
  #inhalt
    #galaxyHeader
      -canColonyze = basic.cantPlanets < basic.maxPlanets;
      span.galaxy_icons.galaxy.tooltip(title='Galaxy')
      span.galaxy_icons.prev(onclick='galaxyChange(-1);')
      input#galaxy_input.hideNumberSpin(maxlength='1' type='number' value=coorInit.gal tabindex='1')
      span.galaxy_icons.next(onclick='galaxyChange(1);')
      span.galaxy_icons.solarsystem.tooltip(title='System')
      span.galaxy_icons.prev(onclick='systemChange(-1);')
      input#system_input.hideNumberSpin(maxlength='3' type='number' value=coorInit.sys tabindex='2')
      span.galaxy_icons.next(onclick='systemChange(1);')
      .btn_blue(onclick='pressGo();' onkeydown='pressGo();')
        | Go!
      #expeditionbutton.btn_blue.float_right(onclick='doExpedition();')
        | Expedition
    #galaxyContent
      #mobileDiv
        table#galaxytable(cellpadding='0' cellspacing='0' border='0')
          thead
            tr.info.info_header.ct_head_row
              th(colspan='11')
                span#probes
                  | Esp. Probe:
                  span#probeValue(data-value=info.espionage) #{info.espionage}
                span#recycler
                  | Recy.:
                  span#recyclerValue(data-value=info.recycler) #{info.recycler}
                span#small
                  | S. Cargos:
                  span#smallValue(data-value=info.small) #{info.small}
                span#large
                  | L. Cargos:
                  span#largeValue(data-value=info.large) #{info.large}
                span#slots
                  | Used slots:
                  span#slotValue(data-used=info.slot data-max=info.maxSlot) #{info.slot}/#{info.maxSlot}
            tr#galaxyheadbg2.ct_head_row
              th.first(style='width: 70px; overflow: hidden;') Planet
              th(style='width: 129px; padding-right: 5px;') Name
              th.text_moon(style='width: 38px; padding-right: 5px;') Moon
              th(style='width: 38px; padding-right: 5px;') DF
              th(style='width: 170px; padding-right: 20px;') Player (status)
              th.last(style='width: 130px;') Actions
          tfoot
            tr#fleetstatus.footer.ct_foot_row
              td#fleetstatusrow.ct_foot_row(colspan='11')
            tr.info.ct_foot_row
              td(colspan='11')
                span#colonized
          tbody
            tr.row
              td.position 1
              td.microplanet.js_planet1
                #1_Planet.ListImage
                  img(id='Planet1' src='' width='30' height='30' alt=' ')
              td.planetname1(align='center')
                span.planetName
                img.colonyImg(onclick=(canColonyze) ? 'colonize(1);' : '' style='cursor: ' +  ((canColonyze) ? 'pointer' : 'auto') src='./Imagenes/Colony' + ((canColonyze) ? 'Ok' : 'No') + '.gif')
              td.moon.js_moon1
                a(href='#' onclick='pressMoon(1);')
                  #1_Moon.ListMoon
              td.debris.js_debris1
                a(href='#' onclick='pressDebris(1);')
                  #1_Debris.ListDebris
              td.playername
                a.status(href='javascript:void(0);' onclick='goToPlayerOverview(1)')
              td.action
                a.tooltip.spyEye(href='#' onclick='spyFunction(1, false)')
                  span.icon.icon_eye
                  span.tooltipText Spy
                  //espiar (se pone verdecito si ya lo estas espiando)
                a.tooltip(href='#' onclick='getReport(1);')
                  span.icon.icon_adressbook
                  span.tooltipText Report
                  // leer reporte de espionaje (esta negro si no tenes reporte de ese jugador)
                a.tooltip(href='#' onclick="window.location.href = './Ogame_Fleet.html?gal=' + galaxy + '&sys=' + system + '&pos=1&mis=7';")
                  span.icon.icon_missile
                  span.tooltipText Attack
                  // ataque personalisado
                a.tooltip(href='#' onclick='sackFunction(1);')
                  span.icon.icon_against
                  span.tooltipText Sack
                  // ataca como si fuera una vaca
                a.tooltip(href='#' onclick='addVaca(1);')
                  span.icon.icon_mail
                  span.tooltipText Vaca
                  // agrega a la lista de vacas
                a.tooltip(href='#' onclick='usePhalanx(1);')
                  span.icon.icon_edit
                  span.tooltipText Phalanx
                  // intenta usar el phalanx



            tr.row
              td.position 2
              td.microplanet.js_planet2
                #2_Planet.ListImage
                  img(id='Planet2' src='' width='30' height='30' alt=' ')
              td.planetname1(align='center')
                span.planetName
                img.colonyImg(onclick=(canColonyze) ? 'colonize(2)' : '' style='cursor: ' +  ((canColonyze) ? 'pointer' : 'auto') src='./Imagenes/Colony' + ((canColonyze) ? 'Ok' : 'No') + '.gif')
              td.moon.js_moon2
                a(href='#' onclick='pressMoon(2);')
                  #2_Moon.ListMoon
              td.debris.js_debris2
                a(href='#' onclick='pressDebris(2);')
                  #2_Debris.ListDebris
              td.playername
                a.status(href='javascript:void(0);' onclick='goToPlayerOverview(2)')
              td.action
                a.tooltip.spyEye(href='#' onclick='spyFunction(2, false)')
                  span.icon.icon_eye
                  span.tooltipText Spy
                a.tooltip(href='#' onclick='getReport(2);')
                  span.icon.icon_adressbook
                  span.tooltipText Report
                a.tooltip(href='#' onclick="window.location.href = './Ogame_Fleet.html?gal=' + galaxy + '&sys=' + system + '&pos=2&mis=7';")
                  span.icon.icon_missile
                  span.tooltipText Attack
                a.tooltip(href='#' onclick='sackFunction(2);')
                  span.icon.icon_against
                  span.tooltipText Sack
                a.tooltip(href='#' onclick='addVaca(2);')
                  span.icon.icon_mail
                  span.tooltipText Vaca
                a.tooltip(href='#' onclick='usePhalanx(2);')
                  span.icon.icon_edit
                  span.tooltipText Phalanx



            tr.row
              td.position 3
              td.microplanet.js_planet3
                #3_Planet.ListImage
                  img(id='Planet3' src='' width='30' height='30' alt=' ')
              td.planetname1(align='center')
                span.planetName
                img.colonyImg(onclick=(canColonyze) ? 'colonize(3)' : '' style='cursor: ' +  ((canColonyze) ? 'pointer' : 'auto') src='./Imagenes/Colony' + ((canColonyze) ? 'Ok' : 'No') + '.gif')
              td.moon.js_moon3
                a(href='#' onclick='pressMoon(3);')
                  #3_Moon.ListMoon
              td.debris.js_debris3
                a(href='#' onclick='pressDebris(3);')
                  #3_Debris.ListDebris
              td.playername
                a.status(href='javascript:void(0);' onclick='goToPlayerOverview(3)')
              td.action
                a.tooltip.spyEye(href='#' onclick='spyFunction(3, false)')
                  span.icon.icon_eye
                  span.tooltipText Spy
                a.tooltip(href='#' onclick='getReport(3);')
                  span.icon.icon_adressbook
                  span.tooltipText Report
                a.tooltip(href='#' onclick="window.location.href = './Ogame_Fleet.html?gal=' + galaxy + '&sys=' + system + '&pos=3&mis=7';")
                  span.icon.icon_missile
                  span.tooltipText Attack
                a.tooltip(href='#' onclick='sackFunction(3);')
                  span.icon.icon_against
                  span.tooltipText Sack
                a.tooltip(href='#' onclick='addVaca(3);')
                  span.icon.icon_mail
                  span.tooltipText Vaca
                a.tooltip(href='#' onclick='usePhalanx(3);')
                  span.icon.icon_edit
                  span.tooltipText Phalanx


            tr.row
              td.position 4
              td.microplanet.js_planet4
                #4_Planet.ListImage
                  img(id='Planet4' src='' width='30' height='30' alt=' ')
              td.planetname1(align='center')
                span.planetName
                img.colonyImg(onclick=(canColonyze) ? 'colonize(4)' : '' style='cursor: ' +  ((canColonyze) ? 'pointer' : 'auto') src='./Imagenes/Colony' + ((canColonyze) ? 'Ok' : 'No') + '.gif')
              td.moon.js_moon4
                a(href='#' onclick='pressMoon(4);')
                  #4_Moon.ListMoon
              td.debris.js_debris4
                a(href='#' onclick='pressDebris(4);')
                  #4_Debris.ListDebris
              td.playername
                a.status(href='javascript:void(0);' onclick='goToPlayerOverview(4)')
              td.action
                a.tooltip.spyEye(href='#' onclick='spyFunction(4, false)')
                  span.icon.icon_eye
                  span.tooltipText Spy
                a.tooltip(href='#' onclick='getReport(4);')
                  span.icon.icon_adressbook
                  span.tooltipText Report
                a.tooltip(href='#' onclick="window.location.href = './Ogame_Fleet.html?gal=' + galaxy + '&sys=' + system + '&pos=4&mis=7';")
                  span.icon.icon_missile
                  span.tooltipText Attack
                a.tooltip(href='#' onclick='sackFunction(4);')
                  span.icon.icon_against
                  span.tooltipText Sack
                a.tooltip(href='#' onclick='addVaca(4);')
                  span.icon.icon_mail
                  span.tooltipText Vaca
                a.tooltip(href='#' onclick='usePhalanx(4);')
                  span.icon.icon_edit
                  span.tooltipText Phalanx


            tr.row
              td.position 5
              td.microplanet.js_planet5
                #5_Planet.ListImage
                  img(id='Planet5' src='' width='30' height='30' alt=' ')
              td.planetname1(align='center')
                span.planetName
                img.colonyImg(onclick=(canColonyze) ? 'colonize(5)' : '' style='cursor: ' +  ((canColonyze) ? 'pointer' : 'auto') src='./Imagenes/Colony' + ((canColonyze) ? 'Ok' : 'No') + '.gif')
              td.moon.js_moon5
                a(href='#' onclick='pressMoon(5);')
                  #5_Moon.ListMoon
              td.debris.js_debris5
                a(href='#' onclick='pressDebris(5);')
                  #5_Debris.ListDebris
              td.playername
                a.status(href='javascript:void(0);' onclick='goToPlayerOverview(5)')
              td.action
                a.tooltip.spyEye(href='#' onclick='spyFunction(5, false)')
                  span.icon.icon_eye
                  span.tooltipText Spy
                a.tooltip(href='#' onclick='getReport(5);')
                  span.icon.icon_adressbook
                  span.tooltipText Report
                a.tooltip(href='#' onclick="window.location.href = './Ogame_Fleet.html?gal=' + galaxy + '&sys=' + system + '&pos=5&mis=7';")
                  span.icon.icon_missile
                  span.tooltipText Attack
                a.tooltip(href='#' onclick='sackFunction(5);')
                  span.icon.icon_against
                  span.tooltipText Sack
                a.tooltip(href='#' onclick='addVaca(5);')
                  span.icon.icon_mail
                  span.tooltipText Vaca
                a.tooltip(href='#' onclick='usePhalanx(5);')
                  span.icon.icon_edit
                  span.tooltipText Phalanx



            tr.row
              td.position 6
              td.microplanet.js_planet6
                #6_Planet.ListImage
                  img(id='Planet6' src='' width='30' height='30' alt=' ')
              td.planetname1(align='center')
                span.planetName
                img.colonyImg(onclick=(canColonyze) ? 'colonize(6)' : '' style='cursor: ' +  ((canColonyze) ? 'pointer' : 'auto') src='./Imagenes/Colony' + ((canColonyze) ? 'Ok' : 'No') + '.gif')
              td.moon.js_moon6
                a(href='#' onclick='pressMoon(6);')
                  #6_Moon.ListMoon
              td.debris.js_debris6
                a(href='#' onclick='pressDebris(6);')
                  #6_Debris.ListDebris
              td.playername
                a.status(href='javascript:void(0);' onclick='goToPlayerOverview(6)')
              td.action
                a.tooltip.spyEye(href='#' onclick='spyFunction(6, false)')
                  span.icon.icon_eye
                  span.tooltipText Spy
                a.tooltip(href='#' onclick='getReport(6);')
                  span.icon.icon_adressbook
                  span.tooltipText Report
                a.tooltip(href='#' onclick="window.location.href = './Ogame_Fleet.html?gal=' + galaxy + '&sys=' + system + '&pos=6&mis=7';")
                  span.icon.icon_missile
                  span.tooltipText Attack
                a.tooltip(href='#' onclick='sackFunction(6);')
                  span.icon.icon_against
                  span.tooltipText Sack
                a.tooltip(href='#' onclick='addVaca(6);')
                  span.icon.icon_mail
                  span.tooltipText Vaca
                a.tooltip(href='#' onclick='usePhalanx(6);')
                  span.icon.icon_edit
                  span.tooltipText Phalanx


            tr.row
              td.position 7
              td.microplanet.js_planet7
                #7_Planet.ListImage
                  img(id='Planet7' src='' width='30' height='30' alt=' ')
              td.planetname1(align='center')
                span.planetName
                img.colonyImg(onclick=(canColonyze) ? 'colonize(7)' : '' style='cursor: ' +  ((canColonyze) ? 'pointer' : 'auto') src='./Imagenes/Colony' + ((canColonyze) ? 'Ok' : 'No') + '.gif')
              td.moon.js_moon7
                a(href='#' onclick='pressMoon(7);')
                  #7_Moon.ListMoon
              td.debris.js_debris7
                a(href='#' onclick='pressDebris(7);')
                  #7_Debris.ListDebris
              td.playername
                a.status(href='javascript:void(0);' onclick='goToPlayerOverview(7)')
              td.action
                a.tooltip.spyEye(href='#' onclick='spyFunction(7, false)')
                  span.icon.icon_eye
                  span.tooltipText Spy
                a.tooltip(href='#' onclick='getReport(7);')
                  span.icon.icon_adressbook
                  span.tooltipText Report
                a.tooltip(href='#' onclick="window.location.href = './Ogame_Fleet.html?gal=' + galaxy + '&sys=' + system + '&pos=7&mis=7';")
                  span.icon.icon_missile
                  span.tooltipText Attack
                a.tooltip(href='#' onclick='sackFunction(7);')
                  span.icon.icon_against
                  span.tooltipText Sack
                a.tooltip(href='#' onclick='addVaca(7);')
                  span.icon.icon_mail
                  span.tooltipText Vaca
                a.tooltip(href='#' onclick='usePhalanx(7);')
                  span.icon.icon_edit
                  span.tooltipText Phalanx



            tr.row
              td.position 8
              td.microplanet.js_planet8
                #8_Planet.ListImage
                  img(id='Planet8' src='' width='30' height='30' alt=' ')
              td.planetname1(align='center')
                span.planetName
                img.colonyImg(onclick=(canColonyze) ? 'colonize(8)' : '' style='cursor: ' +  ((canColonyze) ? 'pointer' : 'auto') src='./Imagenes/Colony' + ((canColonyze) ? 'Ok' : 'No') + '.gif')
              td.moon.js_moon8
                a(href='#' onclick='pressMoon(8);')
                  #8_Moon.ListMoon
              td.debris.js_debris8
                a(href='#' onclick='pressDebris(8);')
                  #8_Debris.ListDebris
              td.playername
                a.status(href='javascript:void(0);' onclick='goToPlayerOverview(8)')
              td.action
                a.tooltip.spyEye(href='#' onclick='spyFunction(8, false)')
                  span.icon.icon_eye
                  span.tooltipText Spy
                a.tooltip(href='#' onclick='getReport(8);')
                  span.icon.icon_adressbook
                  span.tooltipText Report
                a.tooltip(href='#' onclick="window.location.href = './Ogame_Fleet.html?gal=' + galaxy + '&sys=' + system + '&pos=8&mis=7';")
                  span.icon.icon_missile
                  span.tooltipText Attack
                a.tooltip(href='#' onclick='sackFunction(8);')
                  span.icon.icon_against
                  span.tooltipText Sack
                a.tooltip(href='#' onclick='addVaca(8);')
                  span.icon.icon_mail
                  span.tooltipText Vaca
                a.tooltip(href='#' onclick='usePhalanx(8);')
                  span.icon.icon_edit
                  span.tooltipText Phalanx



            tr.row
              td.position 9
              td.microplanet.js_planet9
                #9_Planet.ListImage
                  img(id='Planet9' src='' width='30' height='30' alt=' ')
              td.planetname1(align='center')
                span.planetName
                img.colonyImg(onclick=(canColonyze) ? 'colonize(9)' : '' style='cursor: ' +  ((canColonyze) ? 'pointer' : 'auto') src='./Imagenes/Colony' + ((canColonyze) ? 'Ok' : 'No') + '.gif')
              td.moon.js_moon9
                a(href='#' onclick='pressMoon(9);')
                  #9_Moon.ListMoon
              td.debris.js_debris9
                a(href='#' onclick='pressDebris(9);')
                  #9_Debris.ListDebris
              td.playername
                a.status(href='javascript:void(0);' onclick='goToPlayerOverview(9)')
              td.action
                a.tooltip.spyEye(href='#' onclick='spyFunction(9, false)')
                  span.icon.icon_eye
                  span.tooltipText Spy
                a.tooltip(href='#' onclick='getReport(9);')
                  span.icon.icon_adressbook
                  span.tooltipText Report
                a.tooltip(href='#' onclick="window.location.href = './Ogame_Fleet.html?gal=' + galaxy + '&sys=' + system + '&pos=9&mis=7';")
                  span.icon.icon_missile
                  span.tooltipText Attack
                a.tooltip(href='#' onclick='sackFunction(9);')
                  span.icon.icon_against
                  span.tooltipText Sack
                a.tooltip(href='#' onclick='addVaca(9);')
                  span.icon.icon_mail
                  span.tooltipText Vaca
                a.tooltip(href='#' onclick='usePhalanx(9);')
                  span.icon.icon_edit
                  span.tooltipText Phalanx



            tr.row
              td.position 10
              td.microplanet.js_planet10
                #10_Planet.ListImage
                  img(id='Planet10' src='' width='30' height='30' alt=' ')
              td.planetname1(align='center')
                span.planetName
                img.colonyImg(onclick=(canColonyze) ? 'colonize(10)' : '' style='cursor: ' +  ((canColonyze) ? 'pointer' : 'auto') src='./Imagenes/Colony' + ((canColonyze) ? 'Ok' : 'No') + '.gif')
              td.moon.js_moon10
                a(href='#' onclick='pressMoon(10);')
                  #10_Moon.ListMoon
              td.debris.js_debris10
                a(href='#' onclick='pressDebris(10);')
                  #10_Debris.ListDebris
              td.playername
                a.status(href='javascript:void(0);' onclick='goToPlayerOverview(10)')
              td.action
                a.tooltip.spyEye(href='#' onclick='spyFunction(10, false)')
                  span.icon.icon_eye
                  span.tooltipText Spy
                a.tooltip(href='#' onclick='getReport(10);')
                  span.icon.icon_adressbook
                  span.tooltipText Report
                a.tooltip(href='#' onclick="window.location.href = './Ogame_Fleet.html?gal=' + galaxy + '&sys=' + system + '&pos=10&mis=7';")
                  span.icon.icon_missile
                  span.tooltipText Attack
                a.tooltip(href='#' onclick='sackFunction(10);')
                  span.icon.icon_against
                  span.tooltipText Sack
                a.tooltip(href='#' onclick='addVaca(10);')
                  span.icon.icon_mail
                  span.tooltipText Vaca
                a.tooltip(href='#' onclick='usePhalanx(10);')
                  span.icon.icon_edit
                  span.tooltipText Phalanx



            tr.row
              td.position 11
              td.microplanet.js_planet11
                #11_Planet.ListImage
                  img(id='Planet11' src='' width='30' height='30' alt=' ')
              td.planetname1(align='center')
                span.planetName
                img.colonyImg(onclick=(canColonyze) ? 'colonize(11)' : '' style='cursor: ' +  ((canColonyze) ? 'pointer' : 'auto') src='./Imagenes/Colony' + ((canColonyze) ? 'Ok' : 'No') + '.gif')
              td.moon.js_moon11
                a(href='#' onclick='pressMoon(11);')
                  #11_Moon.ListMoon
              td.debris.js_debris11
                a(href='#' onclick='pressDebris(11);')
                  #11_Debris.ListDebris
              td.playername
                a.status(href='javascript:void(0);' onclick='goToPlayerOverview(11)')
              td.action
                a.tooltip.spyEye(href='#' onclick='spyFunction(11, false)')
                  span.icon.icon_eye
                  span.tooltipText Spy
                a.tooltip(href='#' onclick='getReport(11);')
                  span.icon.icon_adressbook
                  span.tooltipText Report
                a.tooltip(href='#' onclick="window.location.href = './Ogame_Fleet.html?gal=' + galaxy + '&sys=' + system + '&pos=11&mis=7';")
                  span.icon.icon_missile
                  span.tooltipText Attack
                a.tooltip(href='#' onclick='sackFunction(11);')
                  span.icon.icon_against
                  span.tooltipText Sack
                a.tooltip(href='#' onclick='addVaca(11);')
                  span.icon.icon_mail
                  span.tooltipText Vaca
                a.tooltip(href='#' onclick='usePhalanx(11);')
                  span.icon.icon_edit
                  span.tooltipText Phalanx



            tr.row
              td.position 12
              td.microplanet.js_planet12
                #12_Planet.ListImage
                  img(id='Planet12' src='' width='30' height='30' alt=' ')
              td.planetname1(align='center')
                span.planetName
                img.colonyImg(onclick=(canColonyze) ? 'colonize(12)' : '' style='cursor: ' +  ((canColonyze) ? 'pointer' : 'auto') src='./Imagenes/Colony' + ((canColonyze) ? 'Ok' : 'No') + '.gif')
              td.moon.js_moon12
                a(href='#' onclick='pressMoon(12);')
                  #12_Moon.ListMoon
              td.debris.js_debris12
                a(href='#' onclick='pressDebris(12);')
                  #12_Debris.ListDebris
              td.playername
                a.status(href='javascript:void(0);' onclick='goToPlayerOverview(12)')
              td.action
                a.tooltip.spyEye(href='#' onclick='spyFunction(12, false)')
                  span.icon.icon_eye
                  span.tooltipText Spy
                a.tooltip(href='#' onclick='getReport(12);')
                  span.icon.icon_adressbook
                  span.tooltipText Report
                a.tooltip(href='#' onclick="window.location.href = './Ogame_Fleet.html?gal=' + galaxy + '&sys=' + system + '&pos=12&mis=7';")
                  span.icon.icon_missile
                  span.tooltipText Attack
                a.tooltip(href='#' onclick='sackFunction(12);')
                  span.icon.icon_against
                  span.tooltipText Sack
                a.tooltip(href='#' onclick='addVaca(12);')
                  span.icon.icon_mail
                  span.tooltipText Vaca
                a.tooltip(href='#' onclick='usePhalanx(12);')
                  span.icon.icon_edit
                  span.tooltipText Phalanx



            tr.row
              td.position 13
              td.microplanet.js_planet13
                #13_Planet.ListImage
                  img(id='Planet13' src='' width='30' height='30' alt=' ')
              td.planetname1(align='center')
                span.planetName
                img.colonyImg(onclick=(canColonyze) ? 'colonize(13)' : '' style='cursor: ' +  ((canColonyze) ? 'pointer' : 'auto') src='./Imagenes/Colony' + ((canColonyze) ? 'Ok' : 'No') + '.gif')
              td.moon.js_moon13
                a(href='#' onclick='pressMoon(13);')
                  #13_Moon.ListMoon
              td.debris.js_debris13
                a(href='#' onclick='pressDebris(13);')
                  #13_Debris.ListDebris
              td.playername
                a.status(href='javascript:void(0);' onclick='goToPlayerOverview(13)')
              td.action
                a.tooltip.spyEye(href='#' onclick='spyFunction(13, false)')
                  span.icon.icon_eye
                  span.tooltipText Spy
                a.tooltip(href='#' onclick='getReport(13);')
                  span.icon.icon_adressbook
                  span.tooltipText Report
                a.tooltip(href='#' onclick="window.location.href = './Ogame_Fleet.html?gal=' + galaxy + '&sys=' + system + '&pos=13&mis=7';")
                  span.icon.icon_missile
                  span.tooltipText Attack
                a.tooltip(href='#' onclick='sackFunction(13);')
                  span.icon.icon_against
                  span.tooltipText Sack
                a.tooltip(href='#' onclick='addVaca(13);')
                  span.icon.icon_mail
                  span.tooltipText Vaca
                a.tooltip(href='#' onclick='usePhalanx(13);')
                  span.icon.icon_edit
                  span.tooltipText Phalanx



            tr.row
              td.position 14
              td.microplanet.js_planet14
                #14_Planet.ListImage
                  img(id='Planet14' src='' width='30' height='30' alt=' ')
              td.planetname1(align='center')
                span.planetName
                img.colonyImg(onclick=(canColonyze) ? 'colonize(14)' : '' style='cursor: ' +  ((canColonyze) ? 'pointer' : 'auto') src='./Imagenes/Colony' + ((canColonyze) ? 'Ok' : 'No') + '.gif')
              td.moon.js_moon14
                a(href='#' onclick='pressMoon(14);')
                  #14_Moon.ListMoon
              td.debris.js_debris14
                a(href='#' onclick='pressDebris(14);')
                  #14_Debris.ListDebris
              td.playername
                a.status(href='javascript:void(0);' onclick='goToPlayerOverview(14)')
              td.action
                a.tooltip.spyEye(href='#' onclick='spyFunction(14, false)')
                  span.icon.icon_eye
                  span.tooltipText Spy
                a.tooltip(href='#' onclick='getReport(14);')
                  span.icon.icon_adressbook
                  span.tooltipText Report
                a.tooltip(href='#' onclick="window.location.href = './Ogame_Fleet.html?gal=' + galaxy + '&sys=' + system + '&pos=14&mis=7';")
                  span.icon.icon_missile
                  span.tooltipText Attack
                a.tooltip(href='#' onclick='sackFunction(14);')
                  span.icon.icon_against
                  span.tooltipText Sack
                a.tooltip(href='#' onclick='addVaca(14);')
                  span.icon.icon_mail
                  span.tooltipText Vaca



            tr.row
              td.position 15
              td.microplanet.js_planet15
                #15_Planet.ListImage
                  img(id='Planet15' src='' width='30' height='30' alt=' ')
              td.planetname1(align='center')
                span.planetName
                img.colonyImg(onclick=(canColonyze) ? 'colonize(15)' : '' style='cursor: ' +  ((canColonyze) ? 'pointer' : 'auto') src='./Imagenes/Colony' + ((canColonyze) ? 'Ok' : 'No') + '.gif')
              td.moon.js_moon15
                a(href='#' onclick='pressMoon(15);')
                  #15_Moon.ListMoon
              td.debris.js_debris15
                a(href='#' onclick='pressDebris(15);')
                  #15_Debris.ListDebris
              td.playername
                a.status(href='javascript:void(0);' onclick='goToPlayerOverview(15)')
              td.action
                a.tooltip.spyEye(href='#' onclick='spyFunction(15, false)')
                  span.icon.icon_eye
                  span.tooltipText Spy
                a.tooltip(href='#' onclick='getReport(15);')
                  span.icon.icon_adressbook
                  span.tooltipText Report
                a.tooltip(href='#' onclick="window.location.href = './Ogame_Fleet.html?gal=' + galaxy + '&sys=' + system + '&pos=15&mis=7';")
                  span.icon.icon_missile
                  span.tooltipText Attack
                a.tooltip(href='#' onclick='sackFunction(15);')
                  span.icon.icon_against
                  span.tooltipText Sack
                a.tooltip(href='#' onclick='addVaca(15);')
                  span.icon.icon_mail
                  span.tooltipText Vaca
                a.tooltip(href='#' onclick='usePhalanx(15);')
                  span.icon.icon_edit
                  span.tooltipText Phalanx

    #canvasMoon.canvasMoon(style='left: 264px')
      div(style='width: auto; height: auto;')
        a.close-tooltip(href="#" onclick='pressMoon(-1);')
        div.htmlTooltip.galaxyTooltip
          h1.MoonName Muna
          .splitLine
          ul.ListImage
            li
              span#MoonCord [ : : ]
            li
              img.debrisImg(src='../Imagenes/Planets/Miniatures/MiniMoon.gif' alt='debris' width='30' height='30')
          ul.ListLinks
            li#MoonSize 8000km
            li
              a.DebrisMineButton(onclick="spyFunction(moonActive, true);") Espionage
            li
              a.DebrisMineButton(onclick="window.location.href = './Ogame_Fleet.html?gal=' + galaxy + '&sys=' + system + '&pos=' + moonActive + '&mis=7&des=2';") Attack
    #canvasDebris.canvasDebris
      div(style='width: auto; height: auto;')
        a.close-tooltip(href="#" onclick='pressDebris(-1);')
        div.htmlTooltip.galaxyTooltip
          h1 Debris Field
          .splitLine
          ul.ListImage
            li
              span#DebrisCord [ : : ]
            li
              img.debrisImg(src='../Imagenes/Planets/Miniatures/MiniDebris.gif' alt='debris' width='30' height='30')
          ul.ListLinks
            li#DebrisMetal Metal: 0
            li#DebrisCrystal Crystal: 0
            li#DebrisNeed Recyclers needed: 0
            li
              a.DebrisMineButton(onclick='sendToMine();') Mine
    #spyDivReport.closeBackgroud(onClick="closeSpyReport(this)")
    #spyReport
      #spyGeneralInfo
        h2#spyTittle Spy Report
        a#spyCross.close_details(href='javascript: void(0);' onclick='closeSpyReport(this)')
        p#spyDateComplete 30.11.2019 12:46:08
        p#spyPlanetInfo Planeta

      #spyResources
        h2 Resources
        #divSpyResoucesGrid
          #spyMetal
            #spyMetalImg.spyMiniImg
            p Metal:
            p#spyMetalContent -
          #spyCrystal
            #spyCrystalImg.spyMiniImg
            p Crystal:
            p#spyCrystalContent -
          #spyDeuterium
            #spyDeuteriumImg.spyMiniImg
            p Deuterium:
            p#spyDeuteriumContent -
          #spyEnergy
            #spyEnergyImg.spyMiniImg
            p Energy:
            p#spyEnergyContent -

      #spyFleet
        h2 Fleet
        #divSpyFleetGrid
          #spyLight
            #spyLightImg.spyMiniImg
            p Light Fighter:
            p#spyLightContent -
          #spyHeavy
            #spyHeavyImg.spyMiniImg
            p Heavy Fighter:
            p#spyHeavyContent -
          #spyCruiser
            #spyCruiserImg.spyMiniImg
            p Cruiser:
            p#spyCruiserContent -
          #spyBattleship
            #spyBattleshipImg.spyMiniImg
            p Battleship:
            p#spyBattleshipContent -
          #spyBattlecruiser
            #spyBattlecruiserImg.spyMiniImg
            p Battlecruiser:
            p#spyBattlecruiserContent -
          #spyBomber
            #spyBomberImg.spyMiniImg
            p Bomber:
            p#spyBomberContent -
          #spyDestroyer
            #spyDestroyerImg.spyMiniImg
            p Destroyer:
            p#spyDestroyerContent -
          #spyDeathstar
            #spyDeathstarImg.spyMiniImg
            p Deathstar:
            p#spyDeathstarContent -
          #spySmall
            #spySmallImg.spyMiniImg
            p Small Cargo:
            p#spySmallContent -
          #spyLarge
            #spyLargeImg.spyMiniImg
            p Large Cargo:
            p#spyLargeContent -
          #spyColony
            #spyColonyImg.spyMiniImg
            p Colony Ship:
            p#spyColonyContent -
          #spyRecycler
            #spyRecyclerImg.spyMiniImg
            p Recycler:
            p#spyRecyclerContent -
          #spyEspionage
            #spyEspionageImg.spyMiniImg
            p Espionage Probe:
            p#spyEspionageContent -
          #spySolar
            #spySolarImg.spyMiniImg
            p Solar Satellite:
            p#spySolarContent -

      #spyDefence
        h2 Defense
        #divSpyDefenceGrid
          #spyRocketLauncher
            #spyRocketLauncherImg.spyMiniImg
            p Rocket Launcher:
            p#spyRocketLauncherContent -
          #spyLightLaser
            #spyLightLaserImg.spyMiniImg
            p Light Laser:
            p#spyLightLaserContent -
          #spyHeavyLaser
            #spyHeavyLaserImg.spyMiniImg
            p Heavy Laser:
            p#spyHeavyLaserContent -
          #spyGauss
            #spyGaussImg.spyMiniImg
            p Gauss Cannon:
            p#spyGaussContent -
          #spyIon
            #spyIonImg.spyMiniImg
            p Ion Cannon:
            p#spyIonContent -
          #spyPlasma
            #spyPlasmaImg.spyMiniImg
            p Plasma Turret:
            p#spyPlasmaContent -
          #spySmallShield
            #spySmallShieldImg.spyMiniImg
            p Small Shield Dome:
            p#spySmallShieldContent -
          #spyLargeShield
            #spyLargeShieldImg.spyMiniImg
            p Large Shield Dome:
            p#spyLargeShieldContent -
          #spyAntiMissiles
            #spyAntiMissilesImg.spyMiniImg
            p Anti-Ballistic Missiles:
            p#spyAntiMissilesContent -
          #spyMissiles
            #spyMissilesImg.spyMiniImg
            p Interplanetary Missiles:
            p#spyMissilesContent -

      #spyResearch
        h2 Research
        #divSpyResearchGrid
          #spyEnergyTech
            #spyEnergyTechImg.spyMiniImg
            p Energy Technology:
            p#spyEnergyTechContent -
          #spyLaserTech
            #spyLaserTechImg.spyMiniImg
            p Laser Technology:
            p#spyLaserTechContent -
          #spyIonTech
            #spyIonTechImg.spyMiniImg
            p Ion Technology:
            p#spyIonTechContent -
          #spyHyperspaceTech
            #spyHyperspaceTechImg.spyMiniImg
            p Hyperspace Technology:
            p#spyHyperspaceTechContent -
          #spyPlasmaTech
            #spyPlasmaTechImg.spyMiniImg
            p Plasma Technology:
            p#spyPlasmaTechContent -
          #spyEspionageTech
            #spyEspionageTechImg.spyMiniImg
            p Espionage Technology:
            p#spyEspionageTechContent -
          #spyComputer
            #spyComputerImg.spyMiniImg
            p Computer Technology:
            p#spyComputerContent -
          #spyAstrophysics
            #spyAstrophysicsImg.spyMiniImg
            p Astrophysics:
            p#spyAstrophysicsContent -
          #spyIntergalactic
            #spyIntergalacticImg.spyMiniImg
            p Intergalactic Research:
            p#spyIntergalacticContent -
          #spyGraviton
            #spyGravitonImg.spyMiniImg
            p Graviton Technology:
            p#spyGravitonContent -
          #spyCombustionDrive
            #spyCombustionDriveImg.spyMiniImg
            p Combustion Drive:
            p#spyCombustionDriveContent -
          #spyImpulseDrive
            #spyImpulseDriveImg.spyMiniImg
            p Impulse Drive:
            p#spyImpulseDriveContent -
          #spyHyperspaceDrive
            #spyHyperspaceDriveImg.spyMiniImg
            p Hyperspace Drive:
            p#spyHyperspaceDriveContent -
          #spyWeapons
            #spyWeaponsImg.spyMiniImg
            p Weapons Technology:
            p#spyWeaponsContent -
          #spyShielding
            #spyShieldingImg.spyMiniImg
            p Shielding Technology:
            p#spyShieldingContent -
          #spyArmour
            #spyArmourImg.spyMiniImg
            p Armour Technology:
            p#spyArmourContent -

      #spyBuildings
        h2 Buildings
        #divSpyBuildingsGrid
          #spyMetalMine
            #spyMetalMineImg.spyMiniImg
            p Metal Mine:
            p#spyMetalMineContent -
          #spyCrystalMine
            #spyCrystalMineImg.spyMiniImg
            p Crystal Mine:
            p#spyCrystalMineContent -
          #spyDeuteriumMine
            #spyDeuteriumMineImg.spyMiniImg
            p Deuterium Mine:
            p#spyDeuteriumMineContent -
          #spySolarPlant
            #spySolarPlantImg.spyMiniImg
            p Solar Plant:
            p#spySolarPlantContent -
          #spyFusionReactor
            #spyFusionReactorImg.spyMiniImg
            p Fusion Reactor:
            p#spyFusionReactorContent -
          #spyMetalStorage
            #spyMetalStorageImg.spyMiniImg
            p Metal Storage:
            p#spyMetalStorageContent -
          #spyCrystalStorage
            #spyCrystalStorageImg.spyMiniImg
            p Crystal Storage:
            p#spyCrystalStorageContent -
          #spyDeuteriumStorage
            #spyDeuteriumStorageImg.spyMiniImg
            p Deuterium Storage:
            p#spyDeuteriumStorageContent -
          #spyRoboticsFactory
            #spyRoboticsFactoryImg.spyMiniImg
            p Robotics Factory:
            p#spyRoboticsFactoryContent -
          #spyShipyard
            #spyShipyardImg.spyMiniImg
            p Shipyard:
            p#spyShipyardContent -
          #spyResearchLab
            #spyResearchLabImg.spyMiniImg
            p Research Lab:
            p#spyResearchLabContent -
          #spyAlliance
            #spyAllianceImg.spyMiniImg
            p Alliance Depot:
            p#spyAllianceContent -
          #spySilo
            #spySiloImg.spyMiniImg
            p Silo:
            p#spySiloContent -
          #spyNaniteFactory
            #spyNaniteFactoryImg.spyMiniImg
            p Nanite Factory:
            p#spyNaniteFactoryContent -
          #spyTerraformer
            #spyTerraformerImg.spyMiniImg
            p Terraformer:
            p#spyTerraformerContent -

      #spyMoonBuildings
        h2 Moon Buildings
        #divSpyMoonBuildingsGrid
          #spyLunarBase
            #spyLunarBaseImg.spyMiniImg
            p Lunar Base:
            p#spyLunarBaseContent -
          #spyPhalanx
            #spyPhalanxImg.spyMiniImg
            p Phalanx:
            p#spyPhalanxContent -
          #spySpaceDock
            #spySpaceDockImg.spyMiniImg
            p Space Dock:
            p#spySpaceDockContent -
          #spyMarketplace
            #spyMarketplaceImg.spyMiniImg
            p Marketplace:
            p#spyMarketplaceContent -
          #spyLunarSunshade
            #spyLunarSunshadeImg.spyMiniImg
            p Lunar Sunshade:
            p#spyLunarSunshadeContent -
          #spyLunarBeam
            #spyLunarBeamImg.spyMiniImg
            p Lunar Beam:
            p#spyLunarBeamContent -
          #spyJumpGate
            #spyJumpGateImg.spyMiniImg
            p Jump Gate:
            p#spyJumpGateContent -
          #spyMoonShield
            #spyMoonShieldImg.spyMiniImg
            p Moon Shield:
            p#spyMoonShieldContent -

    #phalanxDivReport.closeBackgroud(onClick="closePhalanxReport(this)")
    #phalanxReport
      #phalanxGeneralInfo
        h2#phalanxTittle Phalanx Report
        a#phalanxCross.close_details(href='javascript: void(0);' onclick='closePhalanxReport(this)')
        p#phalanxBasicInfo Cantidad de flotas: 5

      #phalanxDivList
        ul#phalanxList
          li#phalanxListElement1
            p Time:
            p 4s
            a(href='javascript: void(0);' onclick='openPhalanxInfo(this);' data-num='0')
              <img alt=">" src="./Imagenes/MiniFleet.gif">
            p.phalanxFleetCont Fleet
