extends Ogame_Layout
block content
  #inhalt
    #planet(style='background-image:url(./Imagenes/Shipyard/Defence.jpg)')
      #header_text
        h2 Defence - #{basic.planets[basic.numPlanet].name}
      #detail.detail_screen
        #imgBlackInfo.pic
          a.techtree_link.tooltip.overlay(href='./Ogame_Tecnology.html')
            .techtree_img
            span.label Techtree
        #content
          h2#nameText
          a#close.close_details(href='javascript:void(0);' onclick='toggleDescription("void");return false;')
          span#levelText.level
            | Number: 0
            span.undermark
          br.clearfloat
          ul.production_info.narrow
            li
              | Production duration
              span#buildDuration.time
                | 0s
                span.undermark
            li
              | Construction possible:
              span#possibleInTime.time now
          .enter
            p.amount Number:
            .clearfix.maxlink_wrap
              input#number.amount_input(type='number' pattern='[0-9,.]*' size='5' value='')
              .maxlink_arrow
              a#maxlink.tooltip(href='javascript:void(0);' onclick="setMax();") [max. 4]
          .costs_wrap
            p.costs_info Costs per piece:
            ul#costs
              li.metal.tooltip
                .resourceIcon.descriptionIcon.metal
                #cost1.cost -
              li.crystal.tooltip
                .resourceIcon.descriptionIcon.crystal
                #cost2.cost -
              li.deuterium.tooltip
                .resourceIcon.descriptionIcon.deuterium
                #cost3.cost -
          .build-it_wrap
            .premium_info_placeholder
            a#build-it.build-it(href='javascript:void(0);' onclick='sendInproveRequest()')
              span Build
        br
        #description
          .txt_box
            a.tooltip.help.overlay(href='./Ogame_Tecnology.html')
            p#descriptionText.description_txt(style='width: 90%')
    .c-left
    .c-right
    #buttonz
      .header
        h2 Defensive structures
      .content
        ul#defensebuilding
          li#defense1.on
            .item_box.defense401
              .buildingimg
                a#details401.detail_button.tooltip.slideIn(onclick='toggleDescription("rocketLauncher");return false;' href='javascript:void(0);')
                  span.ecke
                    span.level
                      span.textlabel Rocket Launcher
                      | #{info.rocketLauncher}
          li#defense2.on
            .item_box.defense402
              .buildingimg
                a#details402.detail_button.tooltip.slideIn(onclick='toggleDescription("lightLaser");return false;' href='javascript:void(0);')
                  span.ecke
                    span.level
                      span.textlabel Light Laser
                      | #{info.lightLaser}
          li#defense3.on
            .item_box.defense403
              .buildingimg
                a#details403.detail_button.tooltip.slideIn(onclick='toggleDescription("heavyLaser");return false;' href='javascript:void(0);')
                  span.ecke
                    span.level
                      span.textlabel Heavy Laser
                      | #{info.heavyLaser}
          li#defense4.on
            .item_box.defense404
              .buildingimg
                a#details404.detail_button.tooltip.slideIn(onclick='toggleDescription("gauss");return false;' href='javascript:void(0);')
                  span.ecke
                    span.level
                      span.textlabel Gauss Cannon
                      | #{info.gauss}
          li#defense5.on
            .item_box.defense405
              .buildingimg
                a#details405.detail_button.tooltip.slideIn(onclick='toggleDescription("ion");return false;' href='javascript:void(0);')
                  span.ecke
                    span.level
                      span.textlabel Ion Cannon
                      | #{info.ion}
          li#defense6.on
            .item_box.defense406
              .buildingimg
                a#details406.detail_button.tooltip.slideIn(onclick='toggleDescription("plasma");return false;' href='javascript:void(0);')
                  span.ecke
                    span.level
                      span.textlabel Plasma Turret
                      | #{info.plasma}
          li#defense7.on
            .item_box.defense407
              .buildingimg
                a#details407.detail_button.tooltip.slideIn(onclick='toggleDescription("smallShield");return false;' href='javascript:void(0);')
                  span.ecke
                    span.level
                      span.textlabel Small Shield Dome
                      | #{info.smallShield}
          li#defense8.on
            .item_box.defense408
              .buildingimg
                a#details408.detail_button.tooltip.slideIn(onclick='toggleDescription("largeShield");return false;' href='javascript:void(0);')
                  span.ecke
                    span.level
                      span.textlabel Large Shield Dome
                      | #{info.largeShield}
          li#defense9.on
            .item_box.defense502
              .buildingimg
                a#details502.detail_button.tooltip.slideIn(onclick='toggleDescription("antiballisticMissile");return false;' href='javascript:void(0);')
                  span.ecke
                    span.level
                      span.textlabel Anti-Ballistic Missiles
                      | #{info.antiballisticMissile}
          li#defense10.on
            .item_box.defense503
              .buildingimg
                a#details503.detail_button.tooltip.slideIn(onclick='toggleDescription("interplanetaryMissile");return false;' href='javascript:void(0);')
                  span.ecke
                    span.level
                      span.textlabel Interplanetary Missiles
                      | #{info.interplanetaryMissile}
        br.clearfloat
        .footer
