extends Ogame_Layout
block content
  #inhalt
    #planet(style='background-image:url(./Imagenes/Shipyard/Shipyard.jpg)')
      #header_text
        h2 Shipyard - #{(basic.moon) ? basic.planets[basic.numPlanet].moon.name : basic.planets[basic.numPlanet].name}
      #detail.detail_screen(style='height: 0px; display: block; overflow: hidden; margin-top: 0px;')
        #imgBlackInfo.pic
          a.techtree_link.tooltip.overlay(href='./Ogame_Tecnology.html')
            .techtree_img
            span.label Techtree
          a#cancelButton.tooltip.abort_link(href='javascript:void(0);' onclick='cancelShipyard();')
        #content
          h2#nameText
          a#close.close_details(href='javascript:void(0);' onclick='toggleDescription("void"); return false;')
          span#levelText.level
            | Number: 0
            span.undermark
          br.clearfloat
          ul.production_info.narrow
            li
              | Production duration
              span#buildDuration.time
                | 0s
                span.undermark
            li
              | Construction possible:
              span#possibleInTime.time
          .enter
            p.amount Number:
            .clearfix.maxlink_wrap
              input#number.amount_input(type='number' pattern='[0-9,.]*' size='5' value='')
              .maxlink_arrow
              a#maxlink.tooltip(href='javascript:void(0);' onclick="setMax();") [max. 0]
          .costs_wrap
            p.costs_info Costs per piece:
            ul#costs
              li.metal.tooltip
                .resourceIcon.descriptionIcon.metal
                #cost1.cost -
              li.crystal.tooltip
                .resourceIcon.descriptionIcon.crystal
                #cost2.cost -
              li.deuterium.tooltip
                .resourceIcon.descriptionIcon.deuterium
                #cost3.cost -
          .build-it_wrap
            .premium_info_placeholder
            a#build-it.build-it(href='javascript:void(0);' onclick='sendShipyardRequest()')
              span Build
        br
        #description
          .txt_box
            a.tooltip.help.overlay(href='./Ogame_Tecnology.html')
            p#descriptionText.description_txt(style='width: 90%')
    .c-left
    .c-right
    #buttonz
      .header
        h2
          span.h_battleships Combat ships
          span.h_civilships Civil ships
      .content
        #battleships
          ul#military
            li#button1.on
              .item_box.military204
                .buildingimg
                  a#details204.detail_button.tooltip.slideIn(onclick='toggleDescription("lightFighter");return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Light Fighter
                        | #{info.lightFighter}
            li#button2.on
              .item_box.military205
                .buildingimg
                  a#details205.detail_button.tooltip.slideIn(onclick='toggleDescription("heavyFighter");return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Heavy Fighter
                        | #{info.heavyFighter}
            li#button3.on
              .item_box.military206
                .buildingimg
                  a#details206.detail_button.tooltip.slideIn(onclick='toggleDescription("cruiser");return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Cruiser
                        | #{info.cruiser}
            li#button4.on
              .item_box.military207
                .buildingimg
                  a#details207.detail_button.tooltip.slideIn(onclick='toggleDescription("battleship");return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Battleship
                        | #{info.battleship}
            li#button5.on
              .item_box.military215
                .buildingimg
                  a#details215.detail_button.tooltip.slideIn(onclick='toggleDescription("battlecruiser");return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Battlecruiser
                        | #{info.battlecruiser}
            li#button6.on
              .item_box.military211
                .buildingimg
                  a#details211.detail_button.tooltip.slideIn(onclick='toggleDescription("bomber");return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Bomber
                        | #{info.bomber}
            li#button7.on
              .item_box.military213
                .buildingimg
                  a#details213.detail_button.tooltip.slideIn(onclick='toggleDescription("destroyer");return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Destroyer
                        | #{info.destroyer}
            li#button8.on
              .item_box.military214
                .buildingimg
                  a#details214.detail_button.tooltip.slideIn(onclick='toggleDescription("deathstar");return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Deathstar
                        | #{info.deathstar}
        #civilships
          ul#civil
            li#button1.on
              .item_box.civil202
                .buildingimg
                  a#details202.detail_button.tooltip.slideIn(onclick='toggleDescription("smallCargo");return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Small Cargo
                        | #{info.smallCargo}
            li#button2.on
              .item_box.civil203
                .buildingimg
                  a#details203.detail_button.tooltip.slideIn(onclick='toggleDescription("largeCargo");return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Large Cargo
                        | #{info.largeCargo}
            li#button3.on
              .item_box.civil208
                .buildingimg
                  a#details208.detail_button.tooltip.slideIn(onclick='toggleDescription("colony");return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Colony Ship
                        | #{info.colony}
            li#button4.on
              .item_box.civil209
                .buildingimg
                  a#details209.detail_button.tooltip.slideIn(onclick='toggleDescription("recycler");return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Recycler
                        | #{info.recycler}
            li#button5.on
              .item_box.civil210
                .buildingimg
                  a#details210.detail_button.tooltip.slideIn(onclick='toggleDescription("espionageProbe");return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Espionage Probe
                        | #{info.espionageProbe}
            li#button6.on
              .item_box.civil212
                .buildingimg
                  a#details212.detail_button.tooltip.slideIn(onclick='toggleDescription("solarSatellite");return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Solar Satellite
                        | #{info.solarSatellite}
        br.clearfloat
        .footer
      .header
        h2 Shipyard
      .content#shipInfoBuilding
        div#actualShip
          div#firstImg
            div.imgFirstShip
            span#firstLavel 99999
          div#shipData
            span#firstShipName Light Fighter
            br
            span.desc.corrido Unity duration:
            br
            span.corrido#Unityduration -
            br
            span.desc.corrido Total time:
            br
            span.corrido#Totalduration -
        div#otherShips
      .footer
