doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='ogame-universe-name' content=basic.name)
  meta(name='ogame-universe-speed' content=basic.speed)
  meta(name='ogame-universe-speed-fleet' content=basic.speedFleet)
  meta(name='ogame-donut-galaxy' content=basic.donutGalaxy)
  meta(name='ogame-donut-system' content=basic.donutSystem)
  meta(name='ogame-player-name' content=basic.playerName)
  meta(name='ogame-planet-name' content=basic.planets[basic.numPlanet].name)
  meta(name='ogame-planet-coordinates' content=basic.planets[basic.numPlanet].coordinates.galaxy + ':' + basic.planets[basic.numPlanet].coordinates.system + ':' + basic.planets[basic.numPlanet].coordinates.pos)
  meta(name='ogame-planet-galaxy' content=basic.planets[basic.numPlanet].coordinates.galaxy)
  meta(name='ogame-planet-system' content=basic.planets[basic.numPlanet].coordinates.system)
  meta(name='ogame-planet-position' content=basic.planets[basic.numPlanet].coordinates.pos)
  meta(name='ogame-add-metal' content=basic.add.metal)
  meta(name='ogame-add-crystal' content=basic.add.crystal)
  meta(name='ogame-add-deuterium' content=basic.add.deuterium)
  meta(name='ogame-moon' content=basic.moon.toString())
  link(rel='stylesheet' type='text/css' href='./Css/General_Style.css' media='screen')
  link(rel='icon' type='image/x-icon' href='Imagenes/Favicon.ico')
  script(src='./Scripts/General_Player.js')
  script(src='./Scripts/SendRequest.js')
  each item in listScript
    script(src=item)
  title OGame
body(id=bodyId onLoad='initFunction();')
  .contentBoxBody
    #box
      div#PopUpDiv
        p#PopUpText
      // TOP MENU
      #info.header.normal
        #clearAdvice
        #bar
          ul
            li#playerName
              | Player:!{' '}
              span.textBeefy
                a.textBeefy(href='./Ogame_Overview.html') #{basic.playerName}
            li
              span#highscoreSpan (#{basic.highscore})
              a(href='./Highscore.html') Highscore
            li
              a(href='./Vacas.html') Vacas
            li
              a(href='./Search.html') Search
            li
              a(href='./Options.html') Options
            li
              a(href='./GodMain.html') God Mode
            li#Clock.OGameClock 07.12.2019 16:17:18
        ul#resources
          li#metal_box.metal
            .resourceIcon.metal
            span.value
              span#resources_metal(class=basic.classObjResources.metal) #{Math.floor(basic.resources.metal)}
          li#crystal_box.crystal
            .resourceIcon.crystal
            span.value
              span#resources_crystal(class=basic.classObjResources.crystal) #{Math.floor(basic.resources.crystal)}
          li#deuterium_box.deuterium
            .resourceIcon.deuterium
            span.value
              span#resources_deuterium(class=basic.classObjResources.deuterium) #{Math.floor(basic.resources.deuterium)}
          li#energy_box.energy
            .resourceIcon.energy
            span.value
              span#resources_energy(class=(basic.resources.energy < 0) ? 'overmark' : '') #{basic.resources.energy}
          li#darkmatter_box.darkmatter.dark_highlight_tablet
            img(src='./Imagenes/Dark_matter.gif')
            span.value
              span#resources_darkmatter #{basic.dark}
        #message-wrapper
          // Mensajes
          a.comm_menu.messages(href='./Ogame_messages.html' class=(bodyId == 'messages') ? 'selected': '')
            span.new_msg_count(class=(basic.messagesNoRead == 0) ? 'noMessage': '') #{basic.messagesNoRead}
          // Vacas
          a.comm_menu.chat(href='./Vacas.html' class=(bodyId == 'vacas') ? 'selected': '')
          // Flotas
          #messages_collapsed
            #eventboxFilled.eventToggle(style='display: none;')
              a#js_eventDetailsClosed(href='javascript:void(0);' title='More details')
              a#js_eventDetailsOpen.open(href='javascript:void(0);' title='Less detail')
            #eventboxLoading.textCenter.textBeefy(style='display: none;')
              img(height='16' width='16' src='./Imagenes/Loading.gif')
              | load...
            #eventboxBlank.textCenter(style='') No fleet movement
          #attack_alert.eventToggle.noAttack
            // <a href="https://s163-en.ogame.gameforge.com/game/index.php?page=eventList"></a>
            a(href='javascript:void(0);')
          br.clearfloat
        #helper
          a.highlight.Close(href='./OGame_Reward.html') ?
        #selectedPlanetName.textCenter Planeta Principal
      #toolbarcomponent
        // LEFTMENU
        #links
          ul#menuTable.leftmenu
            li
              span.menu_icon
                a(href='./Ogame_Reward.html' target='_self')
                  .menuImage.overview(class=(bodyId == "overview")?'highlighted':'')
              a.menubutton(href='./Ogame_Overview.html' target='_self' class=(bodyId == "overview")?'selected':'')
                span.textlabel Overview
            li
              span.menu_icon
                a(href=(basic.moon) ? './MoonBuildings.html' : './Ogame_ResourceSetings.html' target='_self')
                  .menuImage.resources(class=(bodyId == "resources" || bodyId == "resourceSettings")?'highlighted':'')
              a.menubutton(href='./Ogame_Resources.html' target='_self' class=(bodyId == "resources" || bodyId == "resourceSettings")?'selected':'')
                span.textlabel Resources
            li
              span.menu_icon
                .menuImage.station(class=(bodyId == "station")?'highlighted':'')
              a.menubutton(href='./Ogame_Facilities.html' target='_self' class=(bodyId == "station")?'selected':'')
                span.textlabel Facilities
            li
              span.menu_icon
                a.overlay.Right(href='./Ogame_Tecnology.html' target='_self')
                  .menuImage.research(class=(bodyId == "research" || bodyId == "tecnology")?'highlighted':'')
              a.menubutton(href='./Ogame_Research.html' target='_self' class=(bodyId == "research" || bodyId == "tecnology")?'selected':'')
                span.textlabel Research
            li
              span.menu_icon
                .menuImage.shipyard(class=(bodyId == "shipyard")?'highlighted':'')
              a.menubutton(href='./Ogame_Shipyard.html' target='_self' class=(bodyId == "shipyard")?'selected':'')
                span.textlabel Shipyard
            li
              span.menu_icon
                .menuImage.defense(class=(bodyId == "defense")?'highlighted':'')
              a.menubutton(href='./Ogame_Defence.html' target='_self' class=(bodyId == "defense")?'selected':'')
                span.textlabel Defence
            li
              span.menu_icon
                a(href='./Ogame_Movement.html' target='_self')
                  .menuImage.fleet(class=(bodyId == "fleet" || bodyId == "movement")?'highlighted':'')
              a.menubutton(href='./Ogame_Fleet.html' target='_self' class=(bodyId == "fleet" || bodyId == "movement")?'selected':'')
                span.textlabel Fleet
            li
              span.menu_icon
                .menuImage.galaxy(class=(bodyId == "galaxy")?'highlighted':'')
              a.menubutton(href='./Ogame_Galaxy.html?gal=' + basic.planets[basic.numPlanet].coordinates.galaxy + '&sys=' + basic.planets[basic.numPlanet].coordinates.system target='_self' class=(bodyId == "galaxy")?'selected':'')
                span.textlabel Galaxy
          br.clearfloat
      #contentWrapper
        // CONTENT AREA
        block content
      #rechts
        // RIGHTMENU
        #norm
          #myWorlds
            #countColonies
              p.textCenter
                span #{basic.cantPlanets}/#{basic.maxPlanets}
                |  Planets
            #planetList
              each item, index in basic.planets
                .smallplanet
                  - var clase = (index == basic.numPlanet && basic.moon != true) ? 'active' : '';
                  - var claseLuna = (index == basic.numPlanet && basic.moon == true) ? 'active' : '';
                  a.planetlink.Right.Close(class=clase href=url + '?planet=' + index + '&moon=false')
                    img.planetPic(alt='Planet' src="./Imagenes/Planets/Miniatures/Planet_" + item.type + "_" + item.color + ".gif" width='48' height='48')
                    span.planet-name #{item.name}
                    span.planet-koords [#{item.coordinates.galaxy}:#{item.coordinates.system}:#{item.coordinates.pos}]
                    div.divMini
                      img.alertMini(style='display:' + ((false/*Si estan atacando ese planeta*/) ? 'inline' : 'none') src='./Imagenes/Alert_Mini.gif')
                      img.buildMini(style='display:' + ((basic.planets[index].buildingConstrucction) ? 'inline' : 'none') src='./Imagenes/Llave_Mini.gif')
                      img.fleetMini(style='display:' + ((basic.planets[index].shipConstrucction.length != 0) ? 'inline' : 'none') src='./Imagenes/Nave_Mini.gif')
                      img.labMini(style='display:' + ((basic.researchConstrucction != false && basic.researchConstrucction.planet == index) ? 'inline' : 'none') src='./Imagenes/Lab_Mini.gif')
                  a.moonlink.tooltipLeft.tooltipClose.tpd-hideOnClickOutside(class=claseLuna href=(url + '?planet=' + index + '&moon=true') style='display: ' + ((item.moon.active == true) ? 'block' : 'none'))
                    img.icon-moon(alt=' ' src=(basic.planets[index].moon.active) ? ('./Imagenes/Planets/Moon_Big_' + basic.planets[index].moon.type + '.gif') : ('') width='20' heigth='20')
                    div.divMiniMoon
                      img.alertMiniMoon(style='display:' + ((false/*Si estan atacando esta luna*/) ? 'inline' : 'none') src='./Imagenes/Alert_Mini.gif')
                      img.buildMiniMoon(style='display:' + ((basic.planets[index].moon.buildingConstrucction) ? 'inline' : 'none') src='./Imagenes/Llave_Mini.gif')
