extends Ogame_Layout
block content
  #inhalt
    #planet(style='background-image:url(./Imagenes/Shipyard/Vacas.jpg)')
      #header_text
        h2 Vacas - #{basic.planets[basic.numPlanet].name}
    .c-left
    .c-right
    #buttonz
      .header
        h2 Vaca List
      .content
        table#vacaslist.content_table.ignorelist
          colgroup
            col(span='1' style='width: 20px;')
            col(span='1' style='width: 110px;')
            col(span='1' style='width: 110px;')
            col(span='1' style='width: 60px;')
            col(span='1' style='width: 80px;')
          thead
            tr.ct_head_row
              th.no.ct_th.first ID
              th.ct_th.ct_sortable_title Player
              th.ct_th.ct_sortable_title Planet
              th.ct_th.ct_sortable_title Coordinates
              th.ct_th.textCenter Actions
          tbody
            each item, index in vacas
              tr
                th #{index + 1}
                th #{item.playerName}
                th #{item.planetName}
                th
                  div.coordinatesDiv
                    a.coordinatesLink(href='./Ogame_Galaxy.html?gal=' + item.coordinates.galaxy + '&sys=' + item.coordinates.system target='_self')
                      p [#{item.coordinates.galaxy}:#{item.coordinates.system}:#{item.coordinates.pos}]
                th.action
                  a.tooltip(href='#' onclick='return false;')
                    span.icon.icon_eye
                    //espiar (se pone verdecito si ya lo estas espiando)
                  a.tooltip(href='#' onclick='return false;')
                    span.icon.icon_adressbook
                    // leer reporte de espionaje (esta negro si no tenes reporte de ese jugador)
                  a.tooltip(href='#' onclick='return false;')
                    span.icon.icon_missile
                    // ataque personalisado
                  a.tooltip(href='#' onclick='return false;')
                    span.icon.icon_against
                    // ataca como si fuera una vaca
                  a.tooltip(href='#' onclick='removeVaca(this, ' + item.coordinates.galaxy + ', ' + item.coordinates.system + ', ' + item.coordinates.pos + ');')
                    span.icon.icon_mail
                    // lo saca de la lista de vacas
      .footer
